@charset "UTF-8";
.page-wrapper .second-section-wrapper .second-header, .page-wrapper .second-section-wrapper .third-header {
  height: 38px;
  background-color: #373c3f;
  color: #acd8ad;
  line-height: 38px;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  padding-left: 9px; }

.page-wrapper .second-section-wrapper .title-dishes-pizza, .page-wrapper .second-section-wrapper .title-dishes-vine, .page-wrapper .second-section-wrapper .title-dishes-pizza-coffee, .page-wrapper .second-section-wrapper .title-dishes-vine-beer {
  margin-top: 10px;
  padding-left: 9px;
  padding-right: 9px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #3f4043;
  font-family: "Lato", sans-serif;
  text-transform: uppercase; }
  .page-wrapper .second-section-wrapper .title-dishes-pizza .title-dishes-img, .page-wrapper .second-section-wrapper .title-dishes-vine .title-dishes-img, .page-wrapper .second-section-wrapper .title-dishes-pizza-coffee .title-dishes-img, .page-wrapper .second-section-wrapper .title-dishes-vine-beer .title-dishes-img {
    height: 25px;
    width: 25px;
    background: url("../img/img-menu/Layer 11 copy 3@1X.png") 100% 100%;
    background-repeat: no-repeat;
    background-size: cover; }

.page-wrapper {
  width: 100%; }
  .page-wrapper .first-section-wrapper .clear-position {
    display: none; }
  .page-wrapper .first-section-wrapper .up-img-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start; }
    .page-wrapper .first-section-wrapper .up-img-wrapper .up-img {
      width: 100%;
      height: 173px;
      background: url("../img/header-fon copy 3@1X.png") 100% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center; }
      .page-wrapper .first-section-wrapper .up-img-wrapper .up-img .main-title, .page-wrapper .first-section-wrapper .up-img-wrapper .up-img .main-title-up {
        color: #FFFFFF;
        font-family: "Lato", sans-serif;
        font-size: 16px;
        padding-left: 20px;
        margin-top: 14px;
        letter-spacing: 0.1px; }
      .page-wrapper .first-section-wrapper .up-img-wrapper .up-img .main-title-up {
        margin-top: 4px; }
      .page-wrapper .first-section-wrapper .up-img-wrapper .up-img .link {
        margin-top: 6px;
        padding-left: 20px;
        color: #a6d6e0;
        font-family: "Lato", sans-serif;
        font-size: 14px;
        text-decoration: none;
        letter-spacing: 0.1px; }
    .page-wrapper .first-section-wrapper .up-img-wrapper .img-arrow-wrapper {
      margin-top: 2px;
      width: 100%;
      height: 75px;
      display: flex;
      flex-direction: row; }
      .page-wrapper .first-section-wrapper .up-img-wrapper .img-arrow-wrapper .up-img-one, .page-wrapper .first-section-wrapper .up-img-wrapper .img-arrow-wrapper .up-img-two, .page-wrapper .first-section-wrapper .up-img-wrapper .img-arrow-wrapper .up-img-three {
        width: 100%;
        height: 75px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        font-family: "Lato", sans-serif;
        background: url("../img/Pizza delivery fon copy 3@1X.png");
        background-repeat: no-repeat;
        background-size: 105%;
        background-position: 100% 90%; }
        .page-wrapper .first-section-wrapper .up-img-wrapper .img-arrow-wrapper .up-img-one .in-title-text, .page-wrapper .first-section-wrapper .up-img-wrapper .img-arrow-wrapper .up-img-two .in-title-text, .page-wrapper .first-section-wrapper .up-img-wrapper .img-arrow-wrapper .up-img-three .in-title-text {
          font-size: 20px;
          font-family: "Lato", sans-serif;
          font-weight: 600;
          margin-bottom: 30px;
          margin-left: 4px; }
      .page-wrapper .first-section-wrapper .up-img-wrapper .img-arrow-wrapper .arrow {
        height: 75px;
        width: 30%;
        background-color: #acd8ad;
        line-height: 75px;
        text-align: center;
        color: #FFFFFF; }
        .page-wrapper .first-section-wrapper .up-img-wrapper .img-arrow-wrapper .arrow:hover {
          background-color: #FFFFFF;
          color: #acd8ad; }
      .page-wrapper .first-section-wrapper .up-img-wrapper .img-arrow-wrapper .up-img-two {
        background: url("../img/UA_UX Salads fon copy 3@1X.png") 100% 100%;
        background-repeat: no-repeat;
        background-size: cover; }
      .page-wrapper .first-section-wrapper .up-img-wrapper .img-arrow-wrapper .up-img-three {
        background: url("../img/Desserts fon copy 3@1X.png") 100% 18%;
        background-repeat: no-repeat;
        background-size: cover; }
  .page-wrapper .first-section-wrapper .navigation-wrapper {
    font-family: "Montserrat", sans-serif;
    margin: 0 auto;
    height: 37px;
    color: #ffffff;
    background-color: #373c3f;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative; }
    .page-wrapper .first-section-wrapper .navigation-wrapper ul {
      padding-inline-start: 0;
      margin-block-start: 0; }
    .page-wrapper .first-section-wrapper .navigation-wrapper .logo {
      display: none;
      height: 83px;
      width: 104px;
      background: url("../img/navigation-logo@1X.png");
      background-repeat: no-repeat; }
    .page-wrapper .first-section-wrapper .navigation-wrapper .menu-wrapper {
      display: none;
      position: absolute;
      right: 0;
      top: 100%;
      width: 182px;
      height: 161px;
      background-color: #fafafa;
      color: #373c3f;
      border: 1px #ebebeb solid;
      list-style: none;
      flex-direction: column;
      font-size: 12px;
      font-family: "Lato", sans-serif; }
      .page-wrapper .first-section-wrapper .navigation-wrapper .menu-wrapper li {
        height: 31px;
        border-bottom: 1px #ebebeb solid;
        line-height: 31px;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent; }
        .page-wrapper .first-section-wrapper .navigation-wrapper .menu-wrapper li:last-child {
          border-bottom: transparent; }
        .page-wrapper .first-section-wrapper .navigation-wrapper .menu-wrapper li:hover {
          background-color: #f5f5f5;
          cursor: pointer; }
    .page-wrapper .first-section-wrapper .navigation-wrapper .mobile-active {
      margin-left: 17px;
      margin-top: -2px;
      font-size: 12px; }
    .page-wrapper .first-section-wrapper .navigation-wrapper .fas {
      height: 37px;
      width: 41px;
      font-size: 16px;
      text-align: center;
      line-height: 37px;
      background-color: #202529;
      cursor: pointer; }
    .page-wrapper .first-section-wrapper .navigation-wrapper .fa-window-close {
      display: none; }
  .page-wrapper .first-section-wrapper .title-menu-wrapper {
    height: 73px;
    font-family: "Lato", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-left: 6px;
    margin-top: 3px; }
    .page-wrapper .first-section-wrapper .title-menu-wrapper span:nth-child(1) {
      text-transform: uppercase;
      font-size: 20px;
      color: #3f4043; }
    .page-wrapper .first-section-wrapper .title-menu-wrapper span:nth-child(2) {
      font-size: 13px;
      color: #cbccce; }
  .page-wrapper .second-section-wrapper {
    margin-top: 14px; }
    .page-wrapper .second-section-wrapper .second-header {
      padding-left: 16px; }
    .page-wrapper .second-section-wrapper .third-header {
      padding-left: 16px;
      color: #fff;
      background-color: #acd8ad; }
    .page-wrapper .second-section-wrapper .title-dishes-pizza {
      padding-left: 15px;
      font-size: 15px;
      padding-right: 20px; }
    .page-wrapper .second-section-wrapper .title-dishes-vine {
      font-size: 15px; }
      .page-wrapper .second-section-wrapper .title-dishes-vine .title-dishes-img {
        margin-right: 9px;
        height: 24px;
        width: 13px;
        background: url("../img/img-menu/Layer 9 copy 3@1X.png") 100% 100%;
        background-repeat: no-repeat;
        background-size: cover; }
    .page-wrapper .second-section-wrapper .title-dishes-pizza-coffee {
      font-size: 25px; }
      .page-wrapper .second-section-wrapper .title-dishes-pizza-coffee .title-dishes-img {
        margin-right: 9px;
        height: 21px;
        width: 30px;
        background: url("../img/img-menu/Layer 10 copy 3@1X.png") 100% 100%;
        background-repeat: no-repeat;
        background-size: cover; }
    .page-wrapper .second-section-wrapper .title-dishes-vine-beer {
      text-transform: uppercase; }
      .page-wrapper .second-section-wrapper .title-dishes-vine-beer .title-dishes-img {
        height: 20px;
        width: 21px;
        background: url("../img/img-menu/Layer 8 copy 3@1X.png") 100% 100%;
        background-repeat: no-repeat;
        background-size: cover; }
    .page-wrapper .second-section-wrapper .list-wrapper {
      padding-right: 9px;
      padding-left: 9px;
      margin-top: 10px; }
      .page-wrapper .second-section-wrapper .list-wrapper * {
        font-family: "Lato", sans-serif;
        color: #3f4043; }
      .page-wrapper .second-section-wrapper .list-wrapper div:first-child {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 13px;
        margin-left: 3px;
        margin-top: -4px; }
        .page-wrapper .second-section-wrapper .list-wrapper div:first-child .menu-price {
          font-weight: 600; }
      .page-wrapper .second-section-wrapper .list-wrapper .description {
        margin-top: 2px;
        font-size: 10px;
        text-align: justify; }
  .page-wrapper .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    font-size: 12px;
    background-color: #acd8ad;
    height: 55px;
    margin-top: 118px;
    font-family: "Lato", sans-serif; }

@media (min-width: 640px) {
  .page-wrapper .first-section-wrapper .navigation-wrapper .menu-wrapper {
    width: 243px;
    height: 214px; }
    .page-wrapper .first-section-wrapper .navigation-wrapper .menu-wrapper li {
      height: 42px;
      font-size: 14px; }
  .page-wrapper .first-section-wrapper .up-img-wrapper .img-arrow-wrapper {
    height: 150px; }
    .page-wrapper .first-section-wrapper .up-img-wrapper .img-arrow-wrapper .up-img-one, .page-wrapper .first-section-wrapper .up-img-wrapper .img-arrow-wrapper .up-img-two, .page-wrapper .first-section-wrapper .up-img-wrapper .img-arrow-wrapper .up-img-three {
      height: 150px;
      background: url("../img/img640/Pizza delivery fon copy 2@1X.png");
      background-repeat: no-repeat;
      background-size: 105%;
      background-position: 100% 90%; }
      .page-wrapper .first-section-wrapper .up-img-wrapper .img-arrow-wrapper .up-img-one .in-title-text, .page-wrapper .first-section-wrapper .up-img-wrapper .img-arrow-wrapper .up-img-two .in-title-text, .page-wrapper .first-section-wrapper .up-img-wrapper .img-arrow-wrapper .up-img-three .in-title-text {
        font-size: 26px; }
    .page-wrapper .first-section-wrapper .up-img-wrapper .img-arrow-wrapper .up-img-two {
      background: url("../img/img640/UA_UX Salads fon copy 2@1X.png") 100% 100%;
      background-repeat: no-repeat;
      background-size: cover; }
    .page-wrapper .first-section-wrapper .up-img-wrapper .img-arrow-wrapper .up-img-three {
      background: url("../img/img640/Desserts fon copy 2@1X.png") 100% 18%;
      background-repeat: no-repeat;
      background-size: cover; }
    .page-wrapper .first-section-wrapper .up-img-wrapper .img-arrow-wrapper .arrow {
      height: 150px;
      line-height: 150px; }
  .page-wrapper .first-section-wrapper .up-img-wrapper .up-img {
    width: 100%;
    height: 346px;
    background: url("../img/img640/header-fon copy 2@1X.png") 100% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }
    .page-wrapper .first-section-wrapper .up-img-wrapper .up-img .link {
      font-size: 24px; }
    .page-wrapper .first-section-wrapper .up-img-wrapper .up-img .main-title, .page-wrapper .first-section-wrapper .up-img-wrapper .up-img .main-title-up, .page-wrapper .first-section-wrapper .up-img-wrapper .up-img .main-title-up {
      font-size: 34px; }
  .page-wrapper .first-section-wrapper .navigation-wrapper .mobile-active {
    margin-left: 17px;
    margin-top: -2px;
    font-size: 24px; }
  .page-wrapper .first-section-wrapper .title-menu-wrapper {
    height: 73px; }
    .page-wrapper .first-section-wrapper .title-menu-wrapper span:nth-child(1) {
      text-transform: uppercase;
      font-size: 25px;
      color: #3f4043; }
    .page-wrapper .first-section-wrapper .title-menu-wrapper span:nth-child(2) {
      font-size: 13px;
      color: #cbccce; }
  .page-wrapper .second-section-wrapper .second-header, .page-wrapper .second-section-wrapper .third-header {
    font-size: 25px; }
  .page-wrapper .second-section-wrapper .title-dishes-vine-beer {
    font-size: 25px; }
    .page-wrapper .second-section-wrapper .title-dishes-vine-beer .title-dishes-img {
      margin-right: 9px; }
  .page-wrapper .second-section-wrapper .title-dishes-pizza {
    font-size: 25px; }
  .page-wrapper .second-section-wrapper .title-dishes-vine {
    font-size: 25px; }
  .page-wrapper .second-section-wrapper .list-wrapper div:first-child {
    font-size: 22px; }
  .page-wrapper .second-section-wrapper .list-wrapper .description {
    font-size: 17px; }
  .page-wrapper .footer {
    font-size: 18px; } }

@media (min-width: 980px) {
  .page-wrapper .first-section-wrapper .clear-position {
    display: block; }
  .page-wrapper .first-section-wrapper .title-menu-wrapper {
    margin-bottom: -19px;
    height: 120px;
    position: relative; }
    .page-wrapper .first-section-wrapper .title-menu-wrapper span:nth-child(1) {
      font-size: 22px; }
    .page-wrapper .first-section-wrapper .title-menu-wrapper span:nth-child(2) {
      font-size: 13px; }
    .page-wrapper .first-section-wrapper .title-menu-wrapper .menu-logo {
      position: absolute;
      right: 30px;
      height: 89px;
      width: 109px;
      background: url("../img/img980/Menu logo copy@1X.png");
      background-repeat: no-repeat; }
  .page-wrapper .first-section-wrapper .up-img-wrapper {
    display: block; }
    .page-wrapper .first-section-wrapper .up-img-wrapper .up-img {
      width: 100%;
      height: 627px;
      background: url("../img/img980/header-fon copy@1X.png") 100% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center; }
      .page-wrapper .first-section-wrapper .up-img-wrapper .up-img .main-title, .page-wrapper .first-section-wrapper .up-img-wrapper .up-img .main-title-up {
        position: absolute;
        top: 160px;
        left: 30px;
        font-size: 54px; }
      .page-wrapper .first-section-wrapper .up-img-wrapper .up-img .main-title-up {
        position: absolute;
        top: 220px;
        left: 30px;
        font-size: 54px; }
      .page-wrapper .first-section-wrapper .up-img-wrapper .up-img .link {
        position: absolute;
        top: 290px;
        left: 30px;
        font-size: 34px; }
    .page-wrapper .first-section-wrapper .up-img-wrapper .img-arrow-wrapper {
      float: left;
      height: 327px;
      width: 33.3333%; }
      .page-wrapper .first-section-wrapper .up-img-wrapper .img-arrow-wrapper .arrow {
        display: none; }
      .page-wrapper .first-section-wrapper .up-img-wrapper .img-arrow-wrapper .up-img-one, .page-wrapper .first-section-wrapper .up-img-wrapper .img-arrow-wrapper .up-img-two, .page-wrapper .first-section-wrapper .up-img-wrapper .img-arrow-wrapper .up-img-three, .page-wrapper .first-section-wrapper .up-img-wrapper .img-arrow-wrapper .up-img-two, .page-wrapper .first-section-wrapper .up-img-wrapper .img-arrow-wrapper .up-img-three {
        height: 327px;
        width: 100%; }
        .page-wrapper .first-section-wrapper .up-img-wrapper .img-arrow-wrapper .up-img-one .in-title-text, .page-wrapper .first-section-wrapper .up-img-wrapper .img-arrow-wrapper .up-img-two .in-title-text, .page-wrapper .first-section-wrapper .up-img-wrapper .img-arrow-wrapper .up-img-three .in-title-text, .page-wrapper .first-section-wrapper .up-img-wrapper .img-arrow-wrapper .up-img-two .in-title-text, .page-wrapper .first-section-wrapper .up-img-wrapper .img-arrow-wrapper .up-img-three .in-title-text {
          font-size: 36px; }
  .page-wrapper .first-section-wrapper .navigation-wrapper .fas {
    display: none; }
  .page-wrapper .first-section-wrapper .navigation-wrapper .menu-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 97px;
    border: transparent;
    list-style: none;
    font-size: 12px;
    font-family: "Lato", sans-serif;
    position: absolute;
    background-color: #373c3f;
    color: #FFFFFF;
    top: 0; }
    .page-wrapper .first-section-wrapper .navigation-wrapper .menu-wrapper .logo {
      display: block;
      height: 83px;
      position: absolute;
      right: 30px; }
    .page-wrapper .first-section-wrapper .navigation-wrapper .menu-wrapper .logo:hover {
      background: url("../img/navigation-logo@1X.png");
      background-repeat: no-repeat; }
    .page-wrapper .first-section-wrapper .navigation-wrapper .menu-wrapper li {
      padding-left: 30px;
      height: 31px;
      border-bottom: transparent;
      line-height: 31px;
      border-top: transparent;
      border-left: transparent;
      border-right: transparent;
      font-family: ﻿ "Montserrat", sans-serif;
      font-size: 15px;
      color: #ebebeb; }
      .page-wrapper .first-section-wrapper .navigation-wrapper .menu-wrapper li:hover {
        background: #373c3f;
        cursor: pointer; }
  .page-wrapper .first-section-wrapper .navigation-wrapper .mobile-active {
    display: none; }
  .page-wrapper .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 97px; }
    .page-wrapper .footer .footer-logo {
      height: 83px;
      width: 104px;
      background: url("../img/img980/footer-logo copy@1X.png");
      background-repeat: no-repeat; }
  .page-wrapper .second-section-wrapper {
    float: left;
    width: 50%; }
  .page-wrapper .clearfix {
    clear: both; } }

@media (min-width: 1200px) {
  .page-wrapper .first-section-wrapper .title-menu-wrapper .menu-logo {
    height: 98px; }
  .page-wrapper .first-section-wrapper .title-menu-wrapper span:nth-child(1) {
    font-size: 26px; }
  .page-wrapper .first-section-wrapper .up-img-wrapper .up-img {
    width: 100%;
    height: 649px;
    background: url("../img/img1200/header-fon@1X (1).png") 100% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }
    .page-wrapper .first-section-wrapper .up-img-wrapper .up-img .main-title, .page-wrapper .first-section-wrapper .up-img-wrapper .up-img .main-title-up {
      font-size: 62px; }
    .page-wrapper .first-section-wrapper .up-img-wrapper .up-img .main-title-up {
      font-size: 62px;
      top: 260px; }
    .page-wrapper .first-section-wrapper .up-img-wrapper .up-img .link {
      font-size: 38px;
      top: 340px; }
  .page-wrapper .first-section-wrapper .up-img-wrapper .img-arrow-wrapper {
    height: 400px; }
    .page-wrapper .first-section-wrapper .up-img-wrapper .img-arrow-wrapper .up-img-one .in-title-text, .page-wrapper .first-section-wrapper .up-img-wrapper .img-arrow-wrapper .up-img-two .in-title-text, .page-wrapper .first-section-wrapper .up-img-wrapper .img-arrow-wrapper .up-img-three .in-title-text {
      font-size: 42px; }
    .page-wrapper .first-section-wrapper .up-img-wrapper .img-arrow-wrapper .up-img-one, .page-wrapper .first-section-wrapper .up-img-wrapper .img-arrow-wrapper .up-img-two, .page-wrapper .first-section-wrapper .up-img-wrapper .img-arrow-wrapper .up-img-three, .page-wrapper .first-section-wrapper .up-img-wrapper .img-arrow-wrapper .up-img-two, .page-wrapper .first-section-wrapper .up-img-wrapper .img-arrow-wrapper .up-img-three {
      height: 400px; }
  .page-wrapper .second-section-wrapper .list-wrapper .description {
    font-size: 17.5px; } }
