@import "colors";
@import "fonts";

body {
 // margin: 0;
 // padding: 0;

}

@mixin flexBox($property) {
  display: flex;
  flex-direction: $property;
}


%header-style {
  height: 38px;
  background-color: $headerBgColor;
  color: #acd8ad;
  line-height: 38px;
  font-family: $menuWrapperFont;
  font-size: 20px;
  text-transform: uppercase;
  padding-left: 9px;
}

%title-dishes {
  margin-top: 10px;
  padding-left: 9px;
  padding-right: 9px;
  @include flexBox(row);
  justify-content: space-between;
  align-items: center;
  //font-size: 15px;
  color: rgba(63, 64, 67, 255);
  font-family: $menuWrapperFont;
  text-transform: uppercase;

  & .title-dishes-img {

    height: 25px;
    width: 25px;
    // width: 100%;
    background: url("../img/img-menu/Layer 11 copy 3@1X.png") 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.page-wrapper {
  //margin: 0 auto;
  width: 100%;

  .first-section-wrapper {
    & .clear-position {
      display: none;
    }

    .up-img-wrapper {
      @include flexBox(column);
      align-items: start;

      & .up-img {
        width: 100%;
        height: 173px;
        background: url("../img/header-fon copy 3@1X.png") 100% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;


        & .main-title {
          color: #FFFFFF;
          font-family: $menuWrapperFont;
          font-size: 16px;
          padding-left: 20px;
          margin-top: 14px;
          letter-spacing: 0.1px;


        }

        & .main-title-up {
          @extend .main-title;
          margin-top: 4px;
        }

        & .link {
          margin-top: 6px;
          padding-left: 20px;
          color: rgba(166, 214, 224, 255);
          font-family: $menuWrapperFont;
          font-size: 14px;
          text-decoration: none;
          letter-spacing: 0.1px;

        }
      }

      & .img-arrow-wrapper {
        margin-top: 2px;
        width: 100%;
        height: 75px;
        @include flexBox(row);

        & .up-img-one {
          width: 100%;
          height: 75px;
          @include flexBox(row);
          align-items: center;
          justify-content: center;
          color: #FFFFFF;
          font-family: $menuWrapperFont;
          background: url("../img/Pizza delivery fon copy 3@1X.png");
          background-repeat: no-repeat;
          background-size: 105%;
          background-position: 100% 90%;

          & .in-title-text {
            font-size: 20px;
            font-family: "Lato", sans-serif;
            font-weight: 600;
            margin-bottom: 30px;
            margin-left: 4px;

          }
        }

        & .arrow {
          height: 75px;
          width: 30%;
          background-color: #acd8ad;
          line-height: 75px;
          text-align: center;
          color: #FFFFFF;

          &:hover {
            background-color: #FFFFFF;
            color: #acd8ad;
          }

        }

        & .up-img-two {
          @extend .up-img-one;
          background: url("../img/UA_UX Salads fon copy 3@1X.png") 100% 100%;
          background-repeat: no-repeat;
          background-size: cover;

        }

        & .up-img-three {
          @extend .up-img-one;
          background: url("../img/Desserts fon copy 3@1X.png") 100% 18%;
          background-repeat: no-repeat;
          background-size: cover;

        }

      }
    }

    & .navigation-wrapper {

      font-family: $headerFont;
      margin: 0 auto;
      height: 37px;
      //     width: 100%;
      color: $headerTextColor;
      background-color: $headerBgColor;
      @include flexBox(row);
      justify-content: space-between;
      align-items: center;
      position: relative;

      & ul {
        padding-inline-start: 0;
        margin-block-start: 0;
      }

      & .logo {
        display: none;
        height: 83px;
        width: 104px;
        background: url("../img/navigation-logo@1X.png");
        background-repeat: no-repeat;
      }

      & .menu-wrapper {
        display: none;
        position: absolute;
        right: 0;
        top: 100%;
        width: 182px;
        height: 161px;
        background-color: #fafafa;
        color: $headerBgColor;
        border: 1px #ebebeb solid;
        list-style: none;
        flex-direction: column;
        font-size: 12px;
        font-family: $menuWrapperFont;

        & li {
          height: 31px;
          border-bottom: 1px #ebebeb solid;
          line-height: 31px;
          border-top: transparent;
          border-left: transparent;
          border-right: transparent;

          &:last-child {
            border-bottom: transparent;
          }

          &:hover {
            background-color: #f5f5f5;
            //z-index: 99;
            cursor: pointer;
          }
        }

      }

      & .mobile-active {
        margin-left: 17px;
        margin-top: -2px;
        font-size: 12px;
      }

      & .fas {
        height: 37px;
        width: 41px;
        font-size: 16px;
        text-align: center;
        line-height: 37px;
        background-color: $headerMenuClickColor;
        cursor: pointer;
      }

      & .fa-window-close {
        display: none;
      }

    }

    & .title-menu-wrapper {
      height: 73px;
      font-family: $menuWrapperFont;
      @include flexBox(column);
      justify-content: center;
      width: 100%;
      padding-left: 6px;
      margin-top: 3px;


      & span:nth-child(1) {
        text-transform: uppercase;
        font-size: 20px;
        color: rgba(63, 64, 67, 255);
      }

      & span:nth-child(2) {
        font-size: 13px;
        color: rgba(203, 204, 206, 255);
      }

    }
  }

  & .second-section-wrapper {
    margin-top: 14px;

    & .second-header {
      @extend %header-style;
      padding-left: 16px;

    }

    & .third-header {
      @extend %header-style;
      padding-left: 16px;

      color: #fff;
      background-color: #acd8ad;
    }

    & .title-dishes-pizza {
      @extend %title-dishes;
      //text-transform: uppercase;
      padding-left: 15px;
      font-size: 15px;
      padding-right: 20px;
    }

    & .title-dishes-vine {
      @extend %title-dishes;
      font-size: 15px;
      // text-transform: uppercase;


      & .title-dishes-img {
        margin-right: 9px;
        height: 24px;
        width: 13px;
        background: url("../img/img-menu/Layer 9 copy 3@1X.png") 100% 100%;
        background-repeat: no-repeat;
        background-size: cover;

      }

    }

    & .title-dishes-pizza-coffee {
      @extend %title-dishes;
      font-size: 25px;

      & .title-dishes-img {
        margin-right: 9px;
        height: 21px;
        width: 30px;
        background: url("../img/img-menu/Layer 10 copy 3@1X.png") 100% 100%;
        background-repeat: no-repeat;
        background-size: cover;

      }
    }

    & .title-dishes-vine-beer {
      @extend %title-dishes;
      text-transform: uppercase;

      & .title-dishes-img {

        height: 20px;
        width: 21px;
        background: url("../img/img-menu/Layer 8 copy 3@1X.png") 100% 100%;
        background-repeat: no-repeat;
        background-size: cover;

      }
    }

    & .list-wrapper {
      * {
        font-family: $menuWrapperFont;
        color: rgba(63, 64, 67, 255);
      }

      padding-right: 9px;
      padding-left: 9px;
      margin-top: 10px;

      & div:first-child {
        @include flexBox(row);
        justify-content: space-between;
        font-size: 13px;
        margin-left: 3px;
        margin-top: -4px;


        & .menu-price {
          font-weight: 600;
        }
      }

      & .description {
        margin-top: 2px;
        font-size: 10px;
        text-align: justify;
      }

    }
  }

  & .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    font-size: 12px;
    background-color: #acd8ad;
    height: 55px;
    margin-top: 118px;
    font-family: $menuWrapperFont;

  }
}


@media (min-width: 640px) {
  .page-wrapper {
    & .first-section-wrapper {
      & .navigation-wrapper {
        & .menu-wrapper {
          & li {
            height: 42px;
            font-size: 14px;
          }

          width: 243px;
          height: 214px;
        }
      }

      & .up-img-wrapper {
        & .img-arrow-wrapper {

          height: 150px;

          & .up-img-one {
            height: 150px;
            background: url("../img/img640/Pizza delivery fon copy 2@1X.png");
            background-repeat: no-repeat;
            background-size: 105%;
            background-position: 100% 90%;

            & .in-title-text {
              font-size: 26px;


            }

          }

          & .up-img-two {
            background: url("../img/img640/UA_UX Salads fon copy 2@1X.png") 100% 100%;
            background-repeat: no-repeat;
            background-size: cover;
          }

          & .up-img-three {
            background: url("../img/img640/Desserts fon copy 2@1X.png") 100% 18%;
            background-repeat: no-repeat;
            background-size: cover;
          }

          & .arrow {
            height: 150px;
            line-height: 150px;
          }
        }

        & .up-img {
          width: 100%;
          height: 346px;
          background: url("../img/img640/header-fon copy 2@1X.png") 100% 50%;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;

          & .link {
            font-size: 24px;
          }

          & .main-title, .main-title-up {
            font-size: 34px;
          }
        }
      }

      & .navigation-wrapper {
        .mobile-active {
          margin-left: 17px;
          margin-top: -2px;
          font-size: 24px;
        }
      }

      & .title-menu-wrapper {
        height: 73px;


        & span:nth-child(1) {
          text-transform: uppercase;
          font-size: 25px;
          color: rgba(63, 64, 67, 255);
        }

        & span:nth-child(2) {
          font-size: 13px;
          color: rgba(203, 204, 206, 255);
        }

      }
    }

    & .second-section-wrapper {
      & .second-header, .third-header {
        font-size: 25px;
      }

      & .title-dishes-vine-beer {
        & .title-dishes-img {
          margin-right: 9px;
        }

        font-size: 25px;
      }

      & .title-dishes-pizza {
        font-size: 25px;
      }


      & .title-dishes-vine {
        font-size: 25px;
      }

      & .list-wrapper {
        & div:first-child {
          font-size: 22px;
        }

        .description {
          font-size: 17px;
        }
      }
    }

    & .footer {
      font-size: 18px;
    }
  }


}

@media (min-width: 980px) {
  .page-wrapper {
    & .first-section-wrapper {
      & .clear-position {
        display: block;
      }

      & .title-menu-wrapper {
        & span:nth-child(1) {
          font-size: 22px;
        }

        & span:nth-child(2) {
          font-size: 13px;

        }

        margin-bottom: -19px;
        height: 120px;
        position: relative;

        & .menu-logo {
          position: absolute;
          right: 30px;
          height: 89px;
          width: 109px;
          background: url("../img/img980/Menu logo copy@1X.png");
          background-repeat: no-repeat;
        }
      }


      & .up-img-wrapper {
        display: block;
        // & .clearfix { clear: both; }
        .up-img {
          width: 100%;
          height: 627px;
          background: url("../img/img980/header-fon copy@1X.png") 100% 50%;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;

          & .main-title {
            position: absolute;
            top: 160px;
            left: 30px;
            font-size: 54px;

          }

          & .main-title-up {
            position: absolute;
            top: 220px;
            left: 30px;
            font-size: 54px;
          }

          & .link {
            position: absolute;
            top: 290px;
            left: 30px;
            font-size: 34px;
          }
        }

        & .img-arrow-wrapper {
          float: left;
          height: 327px;
          width: 33.3333%;

          & .arrow {
            display: none;
          }

          & .up-img-one, .up-img-two, .up-img-three {
            height: 327px;
            width: 100%;

            & .in-title-text {
              font-size: 36px;
            }
          }
        }

      }

      & .navigation-wrapper {


        & .fas {
          display: none;
        }

        & .menu-wrapper {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          width: 100%;
          height: 97px;
          border: transparent;
          list-style: none;
          font-size: 12px;
          font-family: $menuWrapperFont;
          position: absolute;
          background-color: #373c3f;
          color: #FFFFFF;
          top: 0;

          & .logo {
            display: block;
            height: 83px;
            position: absolute;
            right: 30px;

          }

          & .logo:hover {
            background: url("../img/navigation-logo@1X.png");
            background-repeat: no-repeat;

          }

          & li {

            padding-left: 30px;
            height: 31px;
            border-bottom: transparent;
            line-height: 31px;
            border-top: transparent;
            border-left: transparent;
            border-right: transparent;
            font-family: ﻿ $headerFont;
            font-size: 15px;
            color: rgba(235, 235, 235, 255);

            &:hover {
              background: #373c3f;
              cursor: pointer;
            }

          }
        }

        & .mobile-active {
          display: none;

        }
      }
    }

    & .footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 97px;

      & .footer-logo {
        height: 83px;
        width: 104px;
        background: url("../img/img980/footer-logo copy@1X.png");
        background-repeat: no-repeat;
      }
    }

    & .second-section-wrapper {
      float: left;
      width: 50%;
    }

    & .clearfix {
      clear: both;
    }
  }


}

//.page-wrapper .first-section-wrapper .title-menu-wrapper

@media (min-width: 1200px) {
 // .second-section-wrapper .list-wrapper .description {
  .page-wrapper {
    & .first-section-wrapper {
      & .title-menu-wrapper {
        & .menu-logo {
          height: 98px;
        }
        & span:nth-child(1) {
          font-size: 26px;
        }
      }

      & .up-img-wrapper {
        .up-img {
          width: 100%;
          height: 649px;
          background: url("../img/img1200/header-fon@1X (1).png") 100% 50%;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
          & .main-title {

            font-size: 62px;

          }

          & .main-title-up {

            font-size: 62px;
            top: 260px;
          }

          & .link {
            font-size: 38px;
            top: 340px;
          }
        }

        & .img-arrow-wrapper {
          & .up-img-one{
            & .in-title-text {
              font-size: 42px;
            }
          }

          height: 400px;


          & .up-img-one, .up-img-two, .up-img-three {
            height: 400px;
          }
        }
      }
    }
    & .second-section-wrapper {
      & .list-wrapper {
        & .description {
          font-size: 17.5px;
        }
      }
    }
  }

}