@charset "UTF-8";
.about {
  padding-top: 61px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1545px;
  background: url("../../img/img_about_fork/bg_about_320.png");
  background-repeat: no-repeat;
  background-size: cover; }
  @media (min-width: 481px) {
    .about {
      height: 880px;
      background: url("../../img/img_about_fork/bg_about_768.png");
      background-repeat: no-repeat;
      background-size: cover; } }
  @media (min-width: 993px) {
    .about {
      height: 673px;
      background: url("../../img/img_about_fork/bg_about_993.png");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover; } }
  .about .aboutTitle {
    font-family: montserrat, sans-serif;
    font-size: 26.41078px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    margin-bottom: 49px; }
    @media (min-width: 481px) {
      .about .aboutTitle {
        flex-direction: row;
        font-size: 30.81257px; } }
    @media (min-width: 993px) {
      .about .aboutTitle {
        font-size: 35.21437px; } }
    .about .aboutTitle .wrap {
      margin-left: 5px; }
  .about .aboutContentWrapper {
    display: grid;
    grid-template-areas: '.';
    align-content: flex-start;
    justify-content: center;
    justify-items: center;
    grid-gap: 5px;
    padding: 0 10px; }
    @media (min-width: 481px) {
      .about .aboutContentWrapper {
        grid-template-areas: '. .';
        align-items: center; } }
    @media (min-width: 993px) {
      .about .aboutContentWrapper {
        grid-template-areas: '. . .';
        grid-gap: 7em; } }
    .about .aboutContentWrapper .aboutContent {
      height: 206px;
      width: 75vw;
      font-family: Lato, sans-serif;
      font-style: italic;
      color: #FFFFFF;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      font-size: 16px; }
      @media (min-width: 481px) {
        .about .aboutContentWrapper .aboutContent {
          width: 42vw;
          font-size: 18px; } }
      @media (min-width: 993px) {
        .about .aboutContentWrapper .aboutContent {
          width: 24.74vw;
          font-size: 24px; } }
      .about .aboutContentWrapper .aboutContent__description {
        height: 90px;
        text-align: center; }
  .about .aboutFooter {
    font-family: ﻿Lato, sans-serif;
    font-size: 14px;
    color: #a291a5;
    text-align: center;
    padding: 0 50px;
    display: none; }
    @media (min-width: 481px) {
      .about .aboutFooter {
        margin-top: 50px; } }
    @media (min-width: 993px) {
      .about .aboutFooter {
        margin-top: 75px; } }
