/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.header__buyNow {
  box-sizing: border-box;
  border-radius: 37px;
  background: #8d81ac;
  color: #fff;
  border: 0; }

body, html {
  min-width: 320px;
  height: 100%;
  font-family: 'Lato', sans-serif; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

.header {
  height: 103px;
  background: #373c3f; }
  .header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    flex-wrap: wrap; }
    .header__wrap .logo__name {
      display: none; }
    .header__wrap .menu {
      display: none;
      z-index: 1; }
      .header__wrap .menu__list {
        margin: 0;
        list-style-type: none; }
      .header__wrap .menu__link {
        display: block;
        color: #fff; }
  .header__buyNow {
    width: 119px;
    height: 37px; }
  .header__button-toggle {
    width: 41px;
    height: 37px;
    background: inherit;
    border: 0; }
    .header__button-toggle .fa-bars {
      color: #fff; }

@media screen and (max-width: 480px) {
  .header {
    position: relative; }
    .header .menu {
      position: absolute;
      top: 100%;
      width: 80vw;
      margin-left: auto; }
      .header .menu__list {
        position: relative; }
      .header .menu__item {
        text-transform: uppercase;
        display: flex;
        align-items: center;
        width: 100%;
        height: 84px;
        background-color: #333333;
        border: 1px solid;
        padding-left: 30px;
        font-size: 20px; }
        .header .menu__item::before {
          content: "";
          position: absolute;
          top: 20px;
          left: 0;
          width: 10px;
          height: 50px;
          background: #8d81ac; }
      .header .menu__link {
        text-decoration: none; }
        .header .menu__link:hover {
          color: #8d81ac; } }

@media screen and (min-width: 481px) {
  .header {
    height: 118px; }
    .header__buyNow {
      width: 145px;
      order: 0; }
    .header__button-toggle {
      display: none; }
    .header__wrap {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 24px;
      height: auto; }
      .header__wrap .logo {
        display: flex;
        align-items: center; }
        .header__wrap .logo__name {
          display: block;
          text-transform: uppercase;
          font-size: 24px;
          color: #8d81ac;
          padding-left: 17px; }
      .header__wrap .menu {
        position: static;
        display: block;
        order: 1;
        width: 100%;
        padding-top: 15px; }
        .header__wrap .menu__list {
          margin: 0 auto;
          max-width: 505px;
          padding-left: 0;
          display: flex;
          justify-content: space-between; }
        .header__wrap .menu__link {
          color: #8d81ac;
          text-decoration: none; } }

@media screen and (min-width: 993px) {
  .header {
    height: 100px; }
    .header__buyNow {
      order: 1; }
    .header__wrap {
      padding-left: 80px;
      padding-right: 80px; }
    .header .menu {
      max-width: 500px;
      margin-left: auto;
      order: 0;
      padding-top: 0; }
      .header .menu__link {
        padding-right: 40px; } }
