.revolutionaly .user-visited__watch, .revolutionaly .user-visited__star, .revolutionaly .user-visited__fork {
  width: 111px;
  height: 26px;
  border: 2px solid #f3f3f3;
  border-radius: 5px;
  display: flex;
  background: #f0f0ef;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
  font-weight: bold;
  margin-top: 15px; }

.revolutionaly {
  height: 402px;
  text-align: center;
  padding-left: 24px;
  padding-right: 30px; }
  .revolutionaly__title {
    color: #635c73;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 26px;
    line-height: 1.6em;
    padding-top: 36px; }
    @media screen and (min-width: 481px) {
      .revolutionaly__title {
        font-size: 39px;
        padding-top: 62px;
        font-weight: 800; } }
  .revolutionaly__text {
    color: #323232;
    padding-top: 10px;
    line-height: 19px; }
    @media screen and (min-width: 481px) {
      .revolutionaly__text {
        padding: 18px 0 18px 0;
        line-height: 29px;
        font-size: 21px; } }
  .revolutionaly__visited {
    padding-left: 10px; }
  .revolutionaly .user-visited {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: initial; }
    .revolutionaly .user-visited__watch {
      margin-right: 9px; }
    .revolutionaly .user-visited__star {
      margin-right: 9px; }
    .revolutionaly .user-visited__fork {
      align-self: flex-end; }
    .revolutionaly .user-visited .watch-icon__item {
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .revolutionaly .user-visited .watch-icon__text {
      padding-left: 2px;
      font-size: 15px; }
    .revolutionaly .user-visited .watch-icon .far {
      padding-left: 5px;
      font-size: initial; }
    .revolutionaly .user-visited .watch-icon__numb {
      box-sizing: border-box;
      height: 100%;
      width: 43px;
      background: white;
      text-align: center;
      line-height: 26px; }
