@charset "UTF-8";
.subscription {
  margin-top: -55px;
  box-sizing: border-box;
  height: 2189px;
  background: url("../../img/img_subsciption_fork/subscr_bg_320.png");
  background-repeat: no-repeat;
  background-size: cover; }
  @media (min-width: 481px) {
    .subscription {
      height: 1373px;
      background: url("../../img/img_subsciption_fork/bg482.png"), url("../../img/img_subsciption_fork/base@482.png") 100% 100%;
      background-repeat: no-repeat;
      background-size: cover; } }
  @media (min-width: 993px) {
    .subscription {
      margin-top: -6px;
      height: 847px;
      background: url("../../img/img_subsciption_fork/bg482.png"), url("../../img/img_subsciption_fork/base@482.png") 100% 100%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover; } }
  .subscription .subscriptionTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: ﻿montserrat, sans-serif;
    font-size: 25px;
    color: white;
    font-weight: bold;
    letter-spacing: 2px; }
    @media (min-width: 481px) {
      .subscription .subscriptionTitle {
        flex-direction: row;
        margin-bottom: 47px;
        padding-top: 80px; } }
    .subscription .subscriptionTitle .pricing {
      margin-top: 12px;
      margin-bottom: 53px; }
      @media (min-width: 481px) {
        .subscription .subscriptionTitle .pricing {
          margin-top: 0;
          margin-bottom: 0;
          margin-left: 5px; } }
  .subscription .subscriptionPrice {
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-areas: '.';
    align-content: flex-start;
    justify-content: center;
    justify-items: center;
    grid-gap: 5px;
    padding: 0 10px; }
    @media (min-width: 481px) {
      .subscription .subscriptionPrice {
        grid-template-areas: '. .';
        align-items: center; } }
    @media (min-width: 993px) {
      .subscription .subscriptionPrice {
        grid-template-areas: '. . . .'; } }
    .subscription .subscriptionPrice .subscriptionItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: rgba(95, 81, 97, 0.5);
      width: 80vw;
      height: 457px; }
      @media (min-width: 481px) {
        .subscription .subscriptionPrice .subscriptionItem {
          width: 45vw; } }
      @media (min-width: 993px) {
        .subscription .subscriptionPrice .subscriptionItem {
          width: 22.88vw; } }
      .subscription .subscriptionPrice .subscriptionItem--active {
        width: 90.625vw;
        height: 560px;
        background-color: rgba(65, 51, 68, 0.5); }
        @media (min-width: 481px) {
          .subscription .subscriptionPrice .subscriptionItem--active {
            width: 50.22vw; } }
        @media (min-width: 993px) {
          .subscription .subscriptionPrice .subscriptionItem--active {
            width: 27.11vw; } }
      .subscription .subscriptionPrice .subscriptionItem__title {
        font-family: ﻿montserrat, sans-serif;
        font-size: 17.60719pt;
        color: white;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.8px;
        line-height: 115px;
        width: 100%;
        height: 100px;
        background-color: rgba(104, 91, 106, 0.7);
        margin-bottom: 31px; }
        .subscription .subscriptionPrice .subscriptionItem__title--active {
          width: 100%;
          height: 111px;
          background-color: rgba(58, 45, 61, 0.7);
          line-height: 132px; }
      .subscription .subscriptionPrice .subscriptionItem__price {
        font-family: ﻿montserrat, sans-serif;
        font-weight: bold;
        font-size: 43pt;
        color: white;
        text-align: center;
        margin-bottom: 18px; }
        .subscription .subscriptionPrice .subscriptionItem__price--active {
          font-size: 73px;
          line-height: 54px;
          margin-bottom: 33px; }
      .subscription .subscriptionPrice .subscriptionItem__period {
        font-family: ﻿﻿montserrat, sans-serif;
        font-size: 11pt;
        color: white;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: -0.3px;
        margin-bottom: 26px; }
        .subscription .subscriptionPrice .subscriptionItem__period--active {
          margin-bottom: 37px; }
      .subscription .subscriptionPrice .subscriptionItem__lineDecoration {
        margin-bottom: 26px; }
        .subscription .subscriptionPrice .subscriptionItem__lineDecoration--active {
          margin-bottom: 37px; }
      .subscription .subscriptionPrice .subscriptionItem__description {
        font-family: ﻿montserrat, sans-serif;
        font-size: 11pt;
        color: white;
        text-align: center;
        letter-spacing: 1px;
        margin-bottom: 66px; }
        .subscription .subscriptionPrice .subscriptionItem__description--btnPadding {
          margin-bottom: 50px; }
        .subscription .subscriptionPrice .subscriptionItem__description--active {
          margin-bottom: 97px; }
      .subscription .subscriptionPrice .subscriptionItem__btn {
        background-color: #776b79;
        font-family: ﻿ ﻿montserrat, sans-serif;
        font-size: 11pt;
        color: white;
        text-align: center;
        text-transform: uppercase;
        width: 160px;
        height: 42px;
        line-height: 42px;
        border-radius: 20px; }
        .subscription .subscriptionPrice .subscriptionItem__btn--active {
          width: 190px;
          height: 52px;
          font-size: 15.5px;
          line-height: 54px;
          letter-spacing: 0.1px;
          border-radius: 27px; }
        .subscription .subscriptionPrice .subscriptionItem__btn:hover {
          cursor: pointer;
          background-color: #d0cbd0; }
