.information {
  text-align: center;
  background: #f4f4f4;
  height: auto; }
  .information .information-grid {
    overflow: hidden; }
    @media screen and (min-width: 993px) {
      .information .information-grid__item-first {
        padding-top: 100px;
        grid-area: sd; } }
    @media screen and (min-width: 993px) {
      .information .information-grid__item-second {
        grid-area: qq; } }
    @media screen and (min-width: 993px) {
      .information .information-grid__item-third {
        grid-area: ww; } }
    @media screen and (min-width: 993px) {
      .information .information-grid__item-four {
        grid-area: ee; } }
    @media screen and (min-width: 993px) {
      .information .information-grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas: "sd sd sd hd hd hd" "sd sd sd main main main" "qq qq qq main main main " "ww ww ww main main main" "ee ee ee main main main"; } }
    .information .information-grid__title {
      font-size: 37px;
      color: #8d81ac;
      padding: 29px 46px 34px 46px; }
      @media screen and (min-width: 481px) {
        .information .information-grid__title {
          font-size: 43px;
          padding-top: 54px;
          padding-bottom: 60px; } }
      @media screen and (min-width: 993px) {
        .information .information-grid__title {
          grid-area: hd;
          padding-top: 84px; } }
    @media screen and (min-width: 481px) {
      .information .information-grid .information-block {
        display: flex;
        padding-left: 30px;
        padding-right: 30px;
        justify-content: space-between;
        padding-bottom: 60px; }
        .information .information-grid .information-block__img {
          width: 90px; } }
    .information .information-grid__box {
      padding: 25px 24px 20px 24px; }
      @media screen and (min-width: 481px) {
        .information .information-grid__box {
          padding: 0; } }
    @media screen and (min-width: 481px) {
      .information .information-grid .information-box {
        width: 76%;
        padding-left: 20px; } }
    .information .information-grid .information-box__title {
      font-size: 18px;
      color: #323232; }
      @media screen and (min-width: 481px) {
        .information .information-grid .information-box__title {
          text-align: left; } }
    .information .information-grid .information-box__text {
      font-size: 16px;
      color: #848e97;
      padding-top: 12px; }
      @media screen and (min-width: 481px) {
        .information .information-grid .information-box__text {
          text-align: left;
          padding-left: 0; } }
    @media screen and (min-width: 993px) {
      .information .information-grid__img {
        grid-area: main; } }
