
body {
    font-family: ﻿ open-sans, sans-serif;
}

.password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: intrinsic;
    width: -moz-max-content;
    width: -webkit-max-content;

}

.input-wrapper input {
    min-width: 120px;
    padding: 10px;
    margin-bottom: 24px;
}

.input-wrapper i {
    position: absolute;
    right: 10px;
    top: 24px;
    color: #14b9d5;
}

#btn {
    width: 150px;
}

#openeye {
    display: none;
}
#openeyesecond {
    display: none;
}
#error {

    position: absolute;
    /*right: 3px;*/
    top: 57px;
    color: red;
    font-size: 12px;
    white-space: nowrap;

    /*display: none;*/

}