
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.page_wrapper{
    width: 1480px;
    height: 1282px;
    margin: 0 auto;
}
.page_wrapper .logo_wrapper {
    width: 340px;
    height: 100px;
    /*border: red 1px solid;*/
    margin-top: 61px;
    margin-left: 101px;
    margin-bottom: 45px;
}


.page_wrapper .logo_wrapper .first_logo_element, .second_logo_element {
    display: inline-block;

}
.page_wrapper .logo_wrapper .second_logo_element {
    margin-left: -4px;
}


.page_wrapper .logo_wrapper .first_logo_element {
    font-family: ﻿MyriadPro, sans-serif;
    font-size: 74px;
    text-align: center;
    color: #000000;

}
.page_wrapper .logo_wrapper .second_logo_element{
    font-family: MyriadPro, sans-serif;
    font-size: 74px;
    text-align: center;
    color: #4bcaff;
}
.page_wrapper .nav_wrapper {
    width: 1280px;
    height: 69px;
    border-bottom: #9aa1a7 1px solid;
    margin: 0 auto;
    padding-left: 175px;
    background-color: #35444f;

}
.page_wrapper .nav_wrapper .menu li {
    display: inline-block;

}
.page_wrapper .nav_wrapper .menu .Functional_programming, .Ramda, .Fantasy_Land_Spec, .Node_js_for_all  {
    padding-top: 24px;
    font-size: 24px;

}
/*.menu ul {*/
/*    text-align: center;*/
/*}*/
.page_wrapper .nav_wrapper .menu .Functional_programming
{
    /*margin-left: 203px;*/
    width: 328px;
    height: 69px;
    /*border: red 1px solid;*/
    padding-left: 40px;
}
.page_wrapper .nav_wrapper .menu .Ramda {

    /*border: red 1px solid;*/
    width: 151px;
    height: 69px;
    padding-left: 40px;

}
.page_wrapper .nav_wrapper .menu .Fantasy_Land_Spec {
    /*border: red 1px solid;*/
    width: 285px;
    height: 69px;
    padding-left: 40px;

}
.page_wrapper .nav_wrapper .menu .Node_js_for_all {
    /*border: red 1px solid;*/
    width: 224px;
    height: 69px;
    padding-left: 40px;

}
.page_wrapper .nav_wrapper  a {
    text-decoration: none;
    color: #ffffff;
}
.nav_wrapper .menu .Functional_programming:hover
{
    background-color: #222f3a;
    border-left: #828282 1px solid;
    border-right: #828282 1px solid;
}
.nav_wrapper .menu .Ramda:hover
{
    background-color: #222f3a;
    border-left: #828282 1px solid;
    border-right: #828282 1px solid;
}
.nav_wrapper .menu .Fantasy_Land_Spec:hover
{
    background-color: #222f3a;
    border-left: #828282 1px solid;
    border-right: #828282 1px solid;
}
.nav_wrapper .menu .Node_js_for_all:hover
{
    background-color: #222f3a;
    border-left: #828282 1px solid;
    border-right: #828282 1px solid;
}
.left_menu{
    width: 343px;
    height: 399px;
    border: 1px black solid;
    float: left;
    margin-left: 101px;
    margin-top: 50px;
}
.right_block{
    width: 885px;
    height: 529px;
    border: 1px black solid;
    float: right;
    margin-right: 100px;
    margin-top: 50px;
}

.image_wrapper {
    width: 321px;
    height: 382px;
    /*border: 1px red solid ;*/
    margin: 75px 268px 73px 297px;

}
.image_wrapper img:hover {
    transform: scale(1.2,1.2);
    transition-timing-function: ease-in-out;
    transition-duration: 550ms;



}

.left_menu_wrapper a, li {
    text-decoration: none;
    list-style-type: none;
    color: #485863;
    font-family: ﻿MyriadPro-Regular, sans-serif;
    font-size: 27px;
    font-weight: 400;
    /*margin-top: 25px;*/
    /*margin-left: 18px;*/

}
.left_menu_wrapper .ramda_left_menu, .why_ramda, .what_s_different, .introductions, .philosophy {
    width: 340px;
    height: 79.2px;
    /*border: 1px red solid;*/
    padding-left: 43px;
    padding-top: 28px;
    margin-left: 1px;
}

div.logo_wrapper a{
    text-decoration: none;
}
/*.left_menu_wrapper .why_ramda{*/
/*    width: 341px;*/
/*    height: 79px;*/
/*    !*border: 1px red solid;*!*/
/*    padding-left: 42px;*/
/*    padding-top: 28px;*/
/*}*/
/*.left_menu_wrapper .what_s_different{*/
/*    width: 341px;*/
/*    height: 79px;*/
/*    !*border: 1px red solid;*!*/
/*    padding-left: 42px;*/
/*    padding-top: 28px;*/
/*}*/
/*.left_menu_wrapper .introductions{*/
/*    width: 341px;*/
/*    height: 79px;*/
/*    !*border: 1px red solid;*!*/
/*    padding-left: 42px;*/
/*    padding-top: 28px;*/
/*}*/
/*.left_menu_wrapper .philosophy{*/
/*    width: 341px;*/
/*    height: 79px;*/
/*    !*border: 1px red solid;*!*/
/*    padding-left: 42px;*/
/*    padding-top: 28px;*/
/*}*/

.left_menu_wrapper .left_menu .ramda_left_menu:hover
{
    background-color: #dbdbdb;

}
.left_menu_wrapper .left_menu .why_ramda:hover
{
    background-color: #dbdbdb;
}
.left_menu_wrapper .left_menu .what_s_different:hover
{
    background-color: #dbdbdb;
}
.left_menu_wrapper .left_menu .introductions:hover
{
    background-color: #dbdbdb;
}
.left_menu_wrapper .left_menu .philosophy:hover
{
    background-color: #dbdbdb;
}
.left_menu_wrapper .left_menu .ramda_left_menu a:hover {

    position: relative;
    left:26px;

}
.left_menu_wrapper .left_menu .why_ramda a:hover {
    position: relative;
    left:26px;
}
.left_menu_wrapper .left_menu .what_s_different a:hover {
    position: relative;
    left:26px;
}
.left_menu_wrapper .left_menu .introductions a:hover {
    position: relative;
    left:26px;
}
.left_menu_wrapper .left_menu .philosophy a:hover {
    position: relative;
    left:26px;
}
.first_content_block{
    width: 825px;
    height: 114px;
    /*border: 1px red solid;*/
    margin-top: 625px;
    margin-left: 522px;
    margin-bottom: 30px;

    /*clear: both;*/
    /*margin-left: 522px;*/
    /*margin-bottom: 30px;*/
    /*padding-top: 48px;*/
}
.second_content_block {
    width: 820px;
    height: 109px;
    /*border: 1px red solid;*/
    margin-left: 522px;
    margin-bottom: 50px;
}
.first_content_block, .second_content_block p {

    font-family: MyriadPro,sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: justify;
}
.footer_wrapper {
    width: 1280px;
    height: 69px;
    /*border: 1px red solid;*/
    /*margin-top: 50px;*/
    margin: 0 auto;
    background-color: #b4b7ba;
}
.footer_wrapper .footer_menu a, li {
    display: inline-block;
    text-decoration: none;
    color: #0c1927;
    font-family: MyriadPro, sans-serif;
    font-size: 28px;
}
.footer_wrapper .footer_menu {
    margin-left: 41px;
    padding-top: 20px;
}
.footer_wrapper .footer_menu .footer_ramda, .footer_why_ramda, .footer_what_s_different, .footer_introductions, .footer_philosophy
{
    margin-left: 20px;
} .footer_wrapper .footer_menu .footer_copyright {
      float: right;
      margin-right: 33px;
  }
.footer_wrapper .footer_menu .footer_ramda a:hover{
    color: #4f99b1;
    text-decoration: underline;
}
.footer_wrapper .footer_menu .footer_why_ramda a:hover{
    color: #4f99b1;
    text-decoration: underline;
}
.footer_wrapper .footer_menu .footer_what_s_different a:hover{
    color: #4f99b1;
    text-decoration: underline;
}
.footer_wrapper .footer_menu .footer_introductions a:hover{
    color: #4f99b1;
    text-decoration: underline;
}
.footer_wrapper .footer_menu .footer_philosophy a:hover{
    color: #4f99b1;
    text-decoration: underline;
}


