*{
    padding: 0;
    margin: 0;
}
body {
    font-family: "Roboto - Black", sans-serif;
    font-size: 16pt;
    color: rgba(55, 55, 55, 255);
}
.page_wrapper{
    width: 1280px;
    margin:0 auto;
}
a {
    text-decoration: none;
    display: inline-block;
}
ul,li {
    list-style: none;
}

.menu  li {
    display: inline-block;
    margin: 10px 32px;
    font-size: 18px;
}
.menu a {

    color: #16a085;
    letter-spacing: 2.7px;
    border: 1px solid transparent;
}
.menu a:hover{
    border-color: #16a085;
}
/*.header{
    position: fixed;
    border: 1px #16a085 solid;
}*/
.menu ul {
    white-space: nowrap;
    width: 681px;
    margin: 0 auto;
}
.sectionfoto{

    background-image:url("../img/mainfoto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 1280px;


}
.sectiontext {
    height: 654px;

    background-color: #f5f6f7;
}

h2 {
    margin-top: 0;
     padding-top: 52px;
     text-align: center;
 }
 p {
     text-align: center;
     margin-right: 108px;
     margin-left: 113px;
 }

 .text_buttom a {


     background: #16a085;
     border-radius: 5px;
     color: #fff;
     display: inline-block;
     font-size: 12px;
     font-weight: 600;
     padding-top: 23px;
     padding-bottom: 18px;
     width: 192px;
     text-transform: uppercase;
     text-decoration: none;



 }
 .text_buttom {

     margin-top: 41px;
     margin-bottom: 94px;
     text-align: center;
     min-height: 51px;
 }


 .footer{

     text-align: end;
     padding-top: 46px;
     margin-right: 104px;
     margin-bottom: 45px;
 }