
table {
    width: 1192px;
    height: 736px;
    border-top: 24px solid #3a4965;
    border-bottom: 32px solid #3a4965;
    border-left: 22px solid #3a4965;
    border-right: 30px solid #3a4965;
    margin: 0 auto;
    border-collapse: collapse;

}

a {
    text-decoration: none;
}

tr, td {
    border: #cacaca 1px solid;
    margin: 0 auto;

}

.first_column_choice {
    width: 310px;
    height: 78px;

}

.column_contact_us {
    height: 110px;
}

.down_bottom {
    width: 277px;
}

.top_button {
    height: 70px;
}

.price td {
    height: 86px;
}

.grey_rows {
    background: #e3e3e3;
}

.green {
    border-right: 0;
    background: #89c331;
    color: white;


}

.red {
    border-left: 0;
    background: #f04a56;
    border-right: 0;
    color: white;

}

.blue {
    border-left: 0;
    background: #20807c;
    color: white;

}

.style_text td {
    text-align: center;
    text-transform: uppercase;
    font-family: arimo, sans-serif;
    font-style: normal;
    font-size: 16px;
    color: #848484;

}

.price td span:nth-child(1) {
    font-size: 60px;
    /*position: relative;*/
    /*left: 33px;*/
    font-weight: 600;
    color: black;
}

.price td span:nth-child(2) {
    font-size: 24px;
    position: relative;
    top: -25px;
    left: 30px;
    font-weight: 600;
    color: black;
}

.price td span:nth-child(3) {
    font-size: 18px;
    position: relative;
    left: -3px;

}

.style_text nav {
    width: 192px;
    height: 49px;
    border-radius: 5px;
    margin: 0 auto;
    color: white;
    text-align: center;
    line-height: 49px;


}

.style_text nav:hover {
    transition: 0.5s;
    border-bottom: 0;

}

.green_button {
    background: #89c331;
    border-bottom: 6px solid #79b027;
}

.red_button {
    background: #f04a56;
    border-bottom: 6px solid #df3a46;
}

.dark_button {
    background: #484848;
    border-bottom: 6px solid #404040;
}

.blue_button {
    background: #20807c;
    border-bottom: 6px solid #16736f;
}

.first_column_choice span:nth-child(1) {
    font-size: 18px;
}

#plan {
    font-size: 30px;
}

.style_text_bottom {
    text-align: center;
    text-transform: uppercase;
    font-family: arimo, sans-serif;
}
.style_text_bottom .green {
    font-size: 24px;
}

.style_text_bottom .red {
    font-size: 30px;
}

.style_text_bottom .blue {
    font-size: 24px;
}

.style_text .icon1:before {
    content: "\f187";
    font-family: FontAwesome;
    margin-top: 100px;
    margin-right: 10px;
    color: #848484;
    font-size: 24px;
}

.style_text .icon2:before {
    content: "\f0ee";
    font-family: FontAwesome;
    margin-right: 10px;
    color: #848484;
    font-size: 24px;
}

.style_text .icon3:before {
    content: "\f0e0";
    font-family: FontAwesome;
    margin-right: 10px;
    color: #848484;
    font-size: 24px;
}

.style_text .icon4:before {
    content: "\f1cd";
    font-family: FontAwesome;
    margin-right: 10px;
    color: #848484;
    font-size: 24px;
}

.style_text .icon5:before {
    content: "\f1b2";
    font-family: FontAwesome;
    margin-right: 10px;
    color: #848484;
    font-size: 24px;
}

.style_text .icon6:before {
    content: "\f234";
    font-family: FontAwesome;
    margin-right: 10px;
    color: #848484;
    font-size: 24px;
}
.sup {
    font-size: 24px;
}