
* {
    padding: 0;
    margin: 0;
    box-sizing:  content-box;
    font-family: ﻿ open-sans, sans-serif;
}

ul {
    list-style: none;
    padding-left: 0;
}

.centered-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;



}


.tabs {
    display: flex;
    flex-direction: row;
    width: 100%;


}

.tabs-title {
    padding: 20px;
    background-color: #23201D;
    color: #937341;
    cursor: pointer;

}

.tabs-title.active {
    background-color: #937341;
    color: #23201D;
}

.text-block {
    display: none;


}

.starter {
    display: flex;
}

.tabs-content {
    display: flex;
    flex-direction: column;
    text-align: justify-all;

}
.text-block.active {
    background-color: #937341;
    color: #23201D;
}

.tabs-content {
    background-color: #23201D;
    color: #937341;
}
.w {
    flex: 1;

}