* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.page-wrapper1 {            /*------------------------page size, page align---------------------------*/
    width: 1366px;
    height: 768px;
    margin: 0 auto;
    background-image: url('../img1/background.png');
    /*----------------------------------------------------------------------------------------starting-logo-------*/
}
.logo {
    margin-left: 155px;
    color: white;
}
.image {
    width: 47px;
    height: 56px;
}
.textMilan
{
    width: 122px;
    height: 56px;
}
.logo div {
    float: left;
    margin-top: 49px;
}
.logo:hover {
    margin-left: 155px;
    color: #f26522;
}
.image {
    background: url("../img1/logo.png")  no-repeat;
}
.image:hover {
    background: url("../img1/logohover.png") no-repeat;
}
.textMilan:hover  {
    color: #f26522;
}
.textMilan  {

    margin-left: 15px;
    position: relative;
    font-family: "Verdana", sans-serif;
    font-weight: bold;
    font-size: 29px;
    color: white;
}
.textHolidays {

    position: absolute;
    top: -20px;
    left: 0;
    font-weight: bold;
    font-size: 18px;
}

/*----------------------------------------------------------------------------------------end-logo-------*/

/*-----------------------------------------------------------------starting----first--row-of-images------*/
.images-wrapper-first-line .first-img img, .third-img img{ /*size of 1 and 3 images*/
    width: 307px;
    height: 200px;
}
.images-wrapper-first-line .second-img img { /*size of 2 image*/
    width: 308px;
    height: 200px;
}
.images-wrapper-first-line div { /*align three div with images*/
    float: left;
}
.images-wrapper-first-line {
    margin-left: 157px;
    padding-top: 141px;
}
div.third-img, div.sixth-img {

    margin-left: 68px;
}
div.second-img, div.fifth-img {

    margin-left: 69px;
}

.link1, .link2, .link3 {   /* .images-wrapper-first-line .first-img*/
    padding-top: 22px;
    color: #ffffff;
    font-family: "Verdana", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    padding-bottom: 1px;
}
.images-wrapper-first-line .link1 {
    margin-left: 84px;
}
.images-wrapper-first-line .link2 {
    margin-left: 75px;
}
.images-wrapper-first-line  .link3 {
    margin-left: 106px;
}
/*-----------------------------------------------------------------end----first--row-of-images------*/

/*-----------------------------------------------------------------starting----second--row-of-images------*/
.images-wrapper-second-line {
    margin-left: 157px;
    padding-top: 298px;
}
.images-wrapper-second-line div{
    float: left;

}
.images-wrapper-second-line .fourth-img img, .sixth-img-img img{
    width: 307px;
    height: 200px;
}
.images-wrapper-second-line .fifth-img img {
    width: 308px;
    height: 200px;
}
.link4 {
    margin-left: 83px;
}

.link5 {
    margin-left: 73px;
}
.link6 {
    margin-left: 91px;
}
.link4, .link5, .link6 {
    padding-top: 21px;
    color: #ffffff;
    font-family: "Verdana", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}
/*-----------------------------------------------------------------end----second--row-of-images------*/

/*--------------------------------------------------------------------start--------------general css------*/

.first-img img, .second-img img, .third-img img,
.fourth-img img, .fifth-img img, .sixth-img img {

    background: linear-gradient(to bottom, #fefefe, #010100);
    padding: 1px;
    box-shadow: 1px 1px 14px 8px  #020201;
}
a {
    text-decoration: none;
}
a:hover p {
    color: #f26522;
}
a:hover  {
    color: #f26522;
}
.first-img, .second-img, .third-img, .fourth-img, .fifth-img, .sixth-img{
    position: relative;
    overflow:hidden;
}
.first-img span, .second-img span, .third-img span,
.fourth-img  span, .fifth-img span, .sixth-img span{
    background-color: #f26522;
    bottom: -63px;
    position: absolute;
    margin: 0;
    display: block;
    width: 100%;
    height: 63px;
}
.first-img:hover span, .second-img:hover span, .third-img:hover span,
.fourth-img:hover span, .fifth-img:hover span, .sixth-img:hover span  {
    bottom: 41px;
}

.orange_offer1 {
    color: white;
}

.from {
    font-size: 10px;
    font-family: ﻿Verdana, sans-serif;
    margin-left: 18px;
    margin-top: 17px;
    font-weight: 400;
}
.price {
    font-size: 20px;
    font-family: ﻿Verdana, sans-serif;

}
.view_details {
    font-size: 14px;
    font-family: ﻿Verdana, sans-serif;
    padding-left: 129px;

}
.price, .view_details {
    display: inline-block;
    margin-left: 18px;
    margin-top: 2px;
    font-weight: 400;
}
/*--------------------------------------------------------------------end--------------general css------*/

/*--------------------------------------------------------------------starting------------footer------*/

.footer {
    clear: both;
    color: white;
    text-align: center;
    font-size: 12px;
    font-family: "Verdana", sans-serif;
    padding-top: 31px;

}
/*--------------------------------------------------------------------end-----------footer------*/
