html, body {
    margin: 0 auto;
    padding: 0;
    height: 100%;
    width: 1904px;
    font-family: ﻿ open-sans, sans-serif;
    /*perspective: 4px;*/
    /*transform-style: preserve-3d;*/
}

.img1_parallax {
    background-image: url("img/html_css_homework_homework6_img_header-bg.jpeg");
    height: 404px;
    width: 1904px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    color: white;
}

.img2_parallax {
    background-image: url("img/html_css_homework_homework6_img_parallax-bg.jpeg");
    height: 590px;
    width: 100vm;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 100%;
}

.img1_parallax, .img2_parallax {
    background-attachment: fixed;
}

.img1_parallax .nav_menu {
    height: 96px;
    width: 1904px;
    background: #1d2124;
    /*position: fixed;*/
    /*top: 0;*/
    /*right: 0;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.img1_parallax .nav_menu nav {
    text-transform: uppercase;
    font-family: ﻿ open-sans, sans-serif;
}

.img1_parallax .nav_menu .logo {
    background-image: url("img/logo-img@1X.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 27px;
    height: 27px;
}

.search {
    background-image: url("img/font-awesome_4-7-0_search_17_17_ffffff_none.png");
    width: 47px;
    height: 47px;
    background-repeat: no-repeat;
    background-size: cover;
}

.inner_nav {
    display: flex;
    width: 638px;
    justify-content: space-between;
}

.inner_nav_logo {
    display: flex;
    justify-content: start;
    align-items: center;
}

.architect {
    margin-left: 10px;
}

.inner_nav_logo nav {
    font-size: 22px;
}

.logo_hover {
    display: flex;
    width: 96px;
    height: 96px;
    justify-content: center;
    align-items: center;
}

.logo_hover:hover {
    background: rgba(1, 1, 1, .7);
}

.search_wrapper {
    display: flex;
    width: 96px;
    height: 96px;
    justify-content: center;
    align-items: center;
}

.search_wrapper:hover {
    background: rgba(1, 1, 1, .7);
}

.inner_nav nav {
    font-size: 15px;
}

.inner_nav nav:hover {
    transition: 0.2s;
    color: #169cb4;
}

.wrapper_parallax_buttons {
    padding-top: 3%;
}

.headliner {
    display: flex;
    justify-content: flex-end;
    /*padding-top: 5%;*/
    font-size: 20px;
    font-family: ﻿ open-sans, sans-serif;
    color: #169cb4;
    text-transform: lowercase;
}

.inner_parallax_wrapper {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
}

.subscribe_button, .best_button {
    /*margin-top: 10px;*/
    width: 170px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 18px;
    font-family: ﻿ open-sans, sans-serif;
}

.subscribe_button {
    background-color: #89ca62;
}

.best_button {
    background-color: #14b9d5;
    margin-left: 20px;
}

.subscribe_button:hover {
    transition: 0.2s;
    transform: translateZ(-1px) scale(1.1);
}

.best_button:hover {
    transition: 0.2s;
    transform: translateZ(-1px) scale(1.1);
}

.most_popular {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f2f2f2;
    color: #14b9d5;
    font-family: ﻿ open-sans, sans-serif;
    font-size: 27px;
    height: 126px;
    align-items: center;
    font-weight: 600;
    text-transform: uppercase;
}

.first_row_img, .second_row_img, .third_row_img {
    display: flex;
    flex-direction: column;
}

.img_one {
    width: 100%;
    height: 320px;
    background-color: white;
}

.img_two {
    width: 100%;
    height: 441px;
    background-color: white;
}

.img_three {
    width: 370px;
    height: 355px;
    background-color: white;
}

.img_four {
    width: 370px;
    height: 321px;
    background-color: white;
}

.img_five {
    width: 370px;
    height: 309px;
    background-color: white;
}

.img_six {
    width: 370px;
    height: 441px;
    background-color: white;
}

.section_wrapper {
    height: 1030px;
    background-color: #f2f2f2;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.img_text {
    display: flex;
    justify-content: center;
    height: 54px;
    width: 370px;
    align-items: center;
    font-family: ﻿ open-sans, sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.second_row_img {
    padding-left: 50px;
    padding-right: 50px;
}

.img_four, .img_five, .img_six {
    margin-top: 50px;
}

.container_parallax2_logo {
    display: grid;
    grid-template-areas: "our_clients our_clients our_clients our_clients" "line_up line_up line_up line_up" "national_post_logo dryme_logo house_logo journey_logo";
    /*grid-template-rows: 1fr 1fr 1fr;*/
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /*grid-column-gap: 1px;*/
    align-items: center;
    justify-items: center;
}

.our_clients {
    grid-area: our_clients;
    color: white;
    font-family: ﻿ open-sans, sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    padding-top: 201px;
}

.line_up {
    grid-area: line_up;
    width: 60px;

    padding-bottom: 50px;
    padding-top: 50px;
}

hr {
    background-color: #14b9d5;
    color: #14b9d5;
    size: 3px;
    height: 3px;
    border: #14b9d5;
}

.national_post_logo {
    grid-area: national_post_logo;
}

.dryme_logo {
    grid-area: dryme_logo;
}

.house_logo {
    grid-area: house_logo;

}

.journey_logo {
    grid-area: journey_logo;
}

.top_rated {
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    color: #14b9d5;
    font-family: ﻿ open-sans, sans-serif;
    font-size: 27px;
    height: 126px;
    align-items: center;
    font-weight: 600;
    text-transform: uppercase;
}

.top_rated_img {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 0;
}

.top_rated_img div {
    width: 272px;
    height: 190px;
}

.top_rated_img1 {
    background-image: url("img/latest-post-1-img@1X.png");
}

.top_rated_img2 {
    background-image: url("img/latest-post-2-img@1X.png");
}

.top_rated_img3 {
    background-image: url("img/latest-post-3-img@1X.png");
}

.top_rated_img4 {
    background-image: url("img/latest-post-4-img@1X.png");
}

.top_rated_img5 {
    background-image: url("img/latest-post-5-img@1X.png");
}

.top_rated_img6 {
    background-image: url("img/latest-post-6-img@1X.png");
}

.top_rated_img7 {
    background-image: url("img/latest-post-7-img@1X.png");
}

.content2 {
    width: 1155px;
    height: 1500px;
    /*border: #3cb878 1px solid;*/
    margin: 0 auto;
    display: grid;
    grid-template-rows: 259px 418px 416px 259px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.content2 div {
    /*border: red 1px solid;*/
    background-color: #f9f7f7;
}

.content2 div:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #f9f7f7;
}

.content2 div:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-content: left;
    width: 554px;
}

.content2 div:nth-child(4) {
    grid-column-start: 3;
    grid-column-end: 5;
    justify-content: end;
    width: 554px;
}

.content2 div:nth-child(5) {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-content: start;
    width: 554px;
}

.content2 div:nth-child(6) {
    grid-column-start: 3;
    grid-column-end: 5;
    justify-content: end;
    width: 554px;
}

.content2 div:nth-child(8) {
    grid-column-start: 2;
    grid-column-end: 5;
}

.post1_text_img, .post8_text_img {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}

.post2_text_img {
    display: grid;
    grid-auto-flow: row;
}

.post3_text_img, .post4_text_img, .post5_text_img, .post6_text_img {
    display: grid;
    grid-auto-flow: row;
    justify-items: center;
}

.content2 p {
    text-align: center;
    font-size: 18px;
    font-family: ﻿ open-sans, sans-serif;
    font-weight: 600;
}

.post1_text, .post8_text {
    width: 320px;
    height: 170px;
    text-align: right;
    font-family: ﻿ open-sans, sans-serif;
    font-size: 14px;
}

.post3_text, .post5_text, .post4_text, .post6_text {
    width: 505px;
    height: 100%;
    text-align: right;
    font-family: ﻿ open-sans, sans-serif;
    font-size: 14px;
}

.nav_footer {
    display: flex;
    margin-top: 63px;
    height: 80px;
    width: 1904px;
    background: #1d2124;
    align-items: center;
}

.copy_right {
    font-family: ﻿ open-sans, sans-serif;
    font-size: 13px;
    color: rgba(255, 255, 255, 255);
    justify-content: center;
    flex-wrap: nowrap;
}

.footer_wrapper {
    padding-left: 370px;
    display: flex;
    align-items: flex-start;
}

.logo_img_footer {
    padding-left: 565px;
    padding-right: 10px;
}

.hideShowBtn1 {
    width: 50px;
    height: 50px;
    background-image: url("img/thin-arrowheads-pointing-down (1).png");
    background-size: cover;
    margin-bottom: 10px;
    cursor: pointer;
}

.hideShowBtn2 {
    width: 50px;
    height: 50px;
    background-image: url("img/chevron-up.png");
    background-size: cover;
    margin-bottom: 10px;
    cursor: pointer;
}

#top_btn {
    width: 100px;
    height: 50px;
    margin-left: 80%;
    border-radius: 5px;
    background-color: #14b9d5;
    color: #FFFFFF;
    outline: none;
    border: none;
    cursor: pointer;
    display: none;
    position: fixed;
    bottom: 100px;
    right: 80px;
    z-index: 99;
}
.href_navigate {
    display: flex;
    justify-content: end;

}
.href_navigate div {
    margin-left: 10%;

}

.href_navigate a{
    text-decoration: none;
    color: #14b9d5;
    padding-top: 10px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 30px;

}



.href_navigate a:hover{
    color: #89ca62;

}