.wrapper {
    color: #fff;
    min-width: 1200px;
    position: relative;
    height: 1012px;
    background-image: url("../img/Sections background/section-1(header).jpg");
}

.wrapper .bgNavBar {
    width: 100%;
    position: absolute;
    height: 120px;
    background: rgba(0, 0, 0, .6);
}

.wrapper .bgNavBar .content {
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 48px;
}

.logo_bar {
    display: flex;
}

.logo {
    width: 60px;
    height: 27px;
    background: #18cfab;
    position: relative;
}

.logo:before {
    content: "";
    position: absolute;
    top: -20px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 20px solid #18cfab;
}

.logo:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 20px solid #18cfab;
}

.hText {
    text-align: center;
    font-size: 40px;
    line-height: 27px;
}

.text_logo {
    padding-left: 7px;
    margin: 0;
    font-size: 25px;
    line-height: 29px;
    font-weight: 500;
}

p.text_logo span {
    color: #18cfab;
}

.navBar {
    color: #b8b8b8;
    align-items: center;
    display: flex;
}

.menu-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 715px;
    margin: 0;
    padding: 0;

}

.menu-main li {
    list-style: none
}

.menu-main li a {
    text-transform: uppercase;
    color: inherit;
    text-decoration: none;
    display: inline-block;

}

.menu-main li a:hover {
    color: #18cfab;
}

.search a {
    width: 60px;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background: #1a1d20;*/
    text-decoration: none;
    color: #b8b8b8;

}

.sec1 {
    max-width: 1160px;
    padding-top: 366px;
    margin: 0 auto;
    text-align: center;
}

h2 {
    text-transform: uppercase;
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 45px;
}

h1 {
    margin: 0;
    text-transform: uppercase;
    font-size: 70px;
}

.headerText {
    margin-top: 37px;
    margin-bottom: 140px;
    color: #b8b8b8;
    font-size: 30px;
}

.button_header {
    /*margin: 0 auto;*/
    display: flex;
    justify-content: center;

}

.button {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    box-sizing: border-box;
    width: 166px;
    height: 61px;
    border-radius: 5px;
    font-weight: 600;
    box-shadow: 0px -5px 0px 0px #fff;
}

.subscribe {
    margin-right: 20px;
    background: #89ca62;
}

.articles {
    background: #14b9d5;
}

/*sksksk*/
.boxSecond {
    min-width: 1200px;
}

.wrapper-four-blocks {
    display: flex;
    margin: 0 auto;

}

.wrapper-four-blocks .blocks {
    width: 25%;
    height: 374px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #18cfab;
    color: #FFFFFF;

    text-transform: uppercase;
    font-size: 20px;
}

.wrapper-four-blocks .fa-hand-point-up, .fa-gem, .fa-lightbulb, .fa-laptop {
    font-size: 60px;
}

.wrapper-four-blocks div:nth-child(odd) {
    background-color: #1c2a33;
    border-top: 7px #18cfab solid;
    color: #18cfab;
}

.wrapper-four-blocks div:nth-child(even) {
    border-top: 7px #fff solid;
}

.our-services-wrapper {
    height: 218px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.our-services-wrapper span {
    font-size: 36px;
}

 hr {
    width: 76px;
    border: none;
    height: 2px;
    color: #18cfab;
    background-color: #18cfab;
    box-shadow: 10px 5px #18cfab;
    border-radius: 2px;

}

.tabs-buttons-wrapper .tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #959697;
    padding: 0;
    margin: 0;


}

.tabs .tabs-title {
    width: 193px;
    height: 73px;
    border: 1px #eeeeef solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: none;

}

ul.tabs li:last-child {
    border-right: 1px #eeeeef solid;
}


.tabs li {
    list-style: none;
    cursor: pointer;

}

.tabs-title {
    background-color: #f8fcfe;
}

.tabs-title.active {
    position: relative;
    background: #18cfab;
    color: #FFFFFF;
    border-color: transparent;


}

.tabs-title.active:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;

}

.tabs-title.active:after {
    border-top-color: #18cfab;
    border-width: 10px;
    margin-left: -10px;
}

ul.tabs-content li {
    list-style: none;
    padding: 0;
}

.text-block {
    display: none;
    text-align: justify;
}

ul.tabs-content {
    padding: 0;
    margin: 0;
}

.active-js { /*fff*/
    display: block;
}

.tabs-buttons-wrapper {
    margin: 0 auto;
    max-width: 1160px;
}

img.img-block {
    float: left;
    margin-right: 20px;
}

.text-block p {
    line-height: 1.5;
}

.box-our-amazing-work-wrapper {
    min-height: 1212px;
    background-color: #f8fcfe;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-our-amazing-work-wrapper h2 {
    margin-top: 92px;
}

ul.tabs-second li {
    list-style: none;
}

.tabs-second {
    margin-top: 60px;
    display: flex;
}
.tabs-second .tabs-title-second {
    width: 193px;
    height: 73px;
    background-color: #FFFFFF;
}

.tabs-title-second {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #848484;
    cursor: pointer;
    border: 1px #eeeeef solid;
}

ul.tabs-second li {
    border-left: none;
}

ul.tabs-second li:first-child {
    border-left: 1px #eeeeef solid;
    width: 97px;
}

.tabs-title-second.active-second {
    color: #18cfab;
    border-top: #18cfab 2px solid;

}
.grid-container {
    min-width: 1134px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    align-content: center;
    justify-content: center;

}
.grid-item {
     /*border-top: #18cfab 1px solid;*/
     display: grid;
     align-items: center;
     justify-items: center;
 }

.grid-item span i{
    color: #FFFFFF;
    font-size: 60px;
    cursor: pointer;
}

.grid-item span i:hover{
    color: #18cfab;

}

.grid-item  span{
    font-size: 24px;
    text-transform: uppercase;
    color: #18cfab;
}
.grid-item >span:nth-child(2)~span{
    font-size: 20px;
    color:grey;
}

.service-search {
    display: none;
}


.grid-item.active {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 284px;
    height: 206px;
    background-color: #FFFFFF;


}

.service-search.active {
    display: grid;
}



.service-search {
    position: relative;
    overflow:hidden;
}


.service-search div {
    background-color: #f26522;
    bottom: -206px;
    position: absolute;
    margin: 0;
    display: block;
    width: 100%;
    /*height: 63px;*/
}

.service-search:hover div {
    background: rgba(1, 1, 1, .9);
    top: 0;
    border-top: 1px solid #18cfab;

}