.about {
  padding-top: 61px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1545px;
  background: url("../../img/img_about_fork/bg_about_320.png");
  background-repeat: no-repeat;
  background-size: cover;
  @media (min-width: 481px) {
    height: 880px;
    background: url("../../img/img_about_fork/bg_about_768.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  @media (min-width: 993px) {
    height: 673px;
    background: url("../../img/img_about_fork/bg_about_993.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .aboutTitle {
    font-family: montserrat, sans-serif;
    font-size: 26.41078px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    margin-bottom: 49px;
    @media (min-width: 481px) {
      flex-direction: row;
      font-size: 30.81257px;
    }
    @media (min-width: 993px) {
      font-size: 35.21437px;
    }
    .wrap {
      margin-left: 5px;
    }
  }
  .aboutContentWrapper {
    display: grid;
    grid-template-areas: '.';
    align-content: flex-start;
    justify-content: center;
    justify-items: center;
    grid-gap: 5px;
    padding: 0 10px;
    @media (min-width: 481px) {
      grid-template-areas: '. .';
      align-items: center;
    }
    @media (min-width: 993px) {
      grid-template-areas: '. . .';
      grid-gap: 7em;
    }
    .aboutContent {
      height: 206px;
      width: 75vw;
      font-family: Lato, sans-serif;
      font-style: italic;
      color: #FFFFFF;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      font-size: 16px;
      @media (min-width: 481px) {
        width: 42vw;
        font-size: 18px;
      }
      @media (min-width: 993px) {
        width: 24.74vw;
        font-size: 24px;
      }
      &__description {
        height: 90px;
        text-align: center;
      }
    }
  }
  .aboutFooter {
    font-family: ﻿Lato, sans-serif;
    font-size: 14px;
    color: rgba(162, 145, 165, 255);
    text-align: center;
    padding: 0 50px;
    display: none;
    @media (min-width: 481px) {
      margin-top: 50px;
    }
    @media (min-width: 993px) {
      margin-top: 75px;
    }
  }
}
