/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

%button {
  box-sizing: border-box;
  border-radius: 37px;
  background: #8d81ac;
  color: #fff;
  border: 0;
}

body, html {
  min-width: 320px;
  height: 100%;
  font-family: 'Lato', sans-serif;

}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  height: 103px;
  background: #373c3f;


  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    flex-wrap: wrap;

    .logo {

      &__name {
        display: none;
      }
    }


    .menu {
      //position: relative;
      display: none;
      z-index: 1;

      &__list {
        margin: 0;
        list-style-type: none;
        //position: absolute;
      }

      &__link {
        display: block;
        color: #fff;
      }
    }


  }

  &__buyNow {
    @extend %button;
    width: 119px;
    height: 37px;

  }


  &__button-toggle {
    width: 41px;
    height: 37px;
    background: inherit;
    border: 0;


    .fa-bars {
      color: #fff;

    }
  }
}

@media screen and (max-width: 480px) {
  .header {
    position: relative;

    .menu {
      position: absolute;
      top: 100%;
      width: 80vw;
      margin-left: auto;

      &__list {
        position: relative;

      }

      &__item {
        text-transform: uppercase;
        display: flex;
        align-items: center;
        width: 100%;
        height: 84px;
        background-color: #333333;
        border: 1px solid;
        padding-left: 30px;
        font-size: 20px;

        &::before {
          content: "";
          position: absolute;
          top: 20px;
          left: 0;
          width: 10px;
          height: 50px;
          background: #8d81ac;
        }


      }

      &__link {
        text-decoration: none;

        &:hover {
          color: rgba(141, 129, 172, 255);

        }

      }
    }
  }
}


@media screen and (min-width: 481px) {


  .header {
    height: 118px;

    &__buyNow {
      width: 145px;
      order: 0;
    }

    &__button-toggle {
      display: none;
    }

    &__wrap {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 24px;
      height: auto;

      .logo {
        display: flex;
        align-items: center;

        &__name {
          display: block;
          text-transform: uppercase;
          font-size: 24px;
          color: #8d81ac;
          padding-left: 17px;
        }
      }


      .menu {
        position: static;
        display: block;
        order: 1;
        width: 100%;
        padding-top: 15px;

        &__list {
          margin: 0 auto;
          max-width: 505px;
          padding-left: 0;
          display: flex;
          justify-content: space-between;
        }

        &__link {
          color: #8d81ac;
          text-decoration: none
        }
      }


    }

  }

}


@media screen and (min-width: 993px) {


  .header {
    height: 100px;

    &__buyNow {
      order: 1;
    }

    &__wrap {
      padding-left: 80px;
      padding-right: 80px;
    }

    .menu {
      max-width: 500px;
      margin-left: auto;
      order: 0;
      padding-top: 0;

      &__list {

      }

      &__link {
        padding-right: 40px;
      }
    }

  }
}

