%button {
  box-sizing: border-box;
  border-radius: 37px;
  background: #8d81ac;
  color: #fff;
  border: 0;
}

.fork-app {
  height: 682px;
  background: url("../../img/img_nav_bar/img@1X.png") 50% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  position: relative;

  &__title {
    margin: 0;
    padding-top: 43px;
    padding-bottom: 17px;
    font-size: 35px;
  }

  &__subtitle {
    padding-left: 32px;
    padding-right: 30px;
    font-size: 14px;
    text-transform: uppercase;
    color: #8d81ac;
    line-height: 2em;


  }

  &__text {
    text-transform: uppercase;
    font-size: 11px;
    color: #848e97;
    padding-top: 15px;
  }
}
.period {
  text-align: center;
  position: relative;
  top: -24px;

  &__button {
    @extend %button;
    width: 290px;
    height: 46px;
    @media screen and (min-width: 481px) {
  width: 390px;
      height: 62px;
      font-size: 21px;

    }
  }
  &__text {
    color: rgba(132, 142, 151, 255);
    font-size: 14px;
    margin: 0;
    padding-top: 13px;

  }
}

//}

@media screen and (min-width: 481px) {
  .fork-app {

    &__title {
      font-size: 52px;
      padding-top: 50px;
      padding-bottom: 20px;
    }

    &__subtitle {
      text-transform: none;
      font-size: 18px;
    }
  }


}

@media screen and (min-width: 993px) {


  .fork-app {

    &__title {
      font-size: 60px;
      padding-top: 60px;
      padding-bottom: 20px;
    }

    &__subtitle {
      text-transform: none;
      font-size: 22px;
    }
  }
}