%block-visited {
  width: 111px;
  height: 26px;
  border: 2px solid #f3f3f3;
  border-radius: 5px;
  display: flex;
  background: #f0f0ef;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
  font-weight: bold;
  margin-top: 15px;

}


.revolutionaly {
  height: 402px;
  text-align: center;
  padding-left: 24px;
  padding-right: 30px;

  &__title {
    color: rgba(99, 92, 115, 255);
    font-weight: 800;
    text-transform: uppercase;
    font-size: 26px;
    line-height: 1.6em;
    padding-top: 36px;
    @media screen and (min-width: 481px) {
      font-size: 39px;
      padding-top: 62px;
      font-weight: 800;
    }
  }

  &__text {
    color: rgba(50, 50, 50, 255);
    padding-top: 10px;
    line-height: 19px;

    @media screen and (min-width: 481px) {
      padding: 18px 0 18px 0;
      line-height: 29px;
      font-size: 21px;
    }
  }

  &__visited {

    padding-left: 10px;

  }

  .user-visited {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: initial;

    &__watch {
      @extend %block-visited;
      margin-right: 9px;
    }

    &__star {
      @extend %block-visited;
      margin-right: 9px;

    }

    &__fork {
      @extend %block-visited;
      align-self: flex-end;

    }

    .watch-icon {
      &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &__text {
        padding-left: 2px;
        font-size: 15px;
      }

      .far {
        padding-left: 5px;
        font-size: initial
      }

      &__numb {
        box-sizing: border-box;
        height: 100%;
        width: 43px;
        background: white;
        text-align: center;
        line-height: 26px;
      }
    }
  }

}