
.subscription {
  margin-top: -55px;;
  box-sizing: border-box;
  height: 2189px;
  background: url("../../img/img_subsciption_fork/subscr_bg_320.png");
  background-repeat: no-repeat;
  background-size: cover;
  @media (min-width: 481px) {
    height: 1373px;
    background: url("../../img/img_subsciption_fork/bg482.png"), url("../../img/img_subsciption_fork/base@482.png") 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  @media (min-width: 993px) {
    margin-top: -6px;
    height: 847px;
    background: url("../../img/img_subsciption_fork/bg482.png"), url("../../img/img_subsciption_fork/base@482.png") 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .subscriptionTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: ﻿montserrat, sans-serif;
    font-size: 25px;
    color: rgba(255, 255, 255, 255);
    font-weight: bold;
    letter-spacing: 2px;
    @media (min-width: 481px) {
      flex-direction: row;
      margin-bottom: 47px;
      padding-top: 80px;
    }

    .pricing {
      margin-top: 12px;
      margin-bottom: 53px;
      @media (min-width: 481px) {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 5px;
      }
    }
  }

  .subscriptionPrice {
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-areas: '.';
    align-content: flex-start;
    justify-content: center;
    justify-items: center;
    grid-gap: 5px;
    padding: 0 10px;
    @media (min-width: 481px) {
      grid-template-areas: '. .';
      align-items: center;
    }
    @media (min-width: 993px) {
      grid-template-areas: '. . . .';
    }

    .subscriptionItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: rgba(95, 81, 97, 0.5);
      width: 80vw;
      @media (min-width: 481px) {
        width: 45vw;
      }
      @media (min-width: 993px) {
        width: 22.88vw;
      }
      height: 457px;

      &--active {
        width: 90.625vw;
        height: 560px;
        background-color: rgba(65, 51, 68, 0.5);
        @media (min-width: 481px) {
          width: 50.22vw;
        }
        @media (min-width: 993px) {
          width: 27.11vw;
        }
      }

      &__title {
        font-family: ﻿montserrat, sans-serif;
        font-size: 17.60719pt;
        color: rgba(255, 255, 255, 255);
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.8px;
        line-height: 115px;
        width: 100%;
        height: 100px;
        background-color: rgba(104, 91, 106, 0.7);
        margin-bottom: 31px;

        &--active {
          width: 100%;
          height: 111px;
          background-color: rgba(58, 45, 61, 0.7);
          line-height: 132px;
        }
      }

      &__price {
        font-family: ﻿montserrat, sans-serif;
        font-weight: bold;
        font-size: 43pt;
        color: rgba(255, 255, 255, 255);
        text-align: center;
        margin-bottom: 18px;

        &--active {
          font-size: 73px;
          line-height: 54px;
          margin-bottom: 33px;
        }
      }

      &__period {
        font-family: ﻿﻿montserrat, sans-serif;
        font-size: 11pt;
        color: rgba(255, 255, 255, 255);
        text-align: center;
        text-transform: uppercase;
        letter-spacing: -0.3px;
        margin-bottom: 26px;

        &--active {
          margin-bottom: 37px;
        }
      }

      &__lineDecoration {
        margin-bottom: 26px;

        &--active {
          margin-bottom: 37px;
        }
      }

      &__description {
        font-family: ﻿montserrat, sans-serif;
        font-size: 11pt;
        color: rgba(255, 255, 255, 255);
        text-align: center;
        letter-spacing: 1px;
        margin-bottom: 66px;

        &--btnPadding {
          margin-bottom: 50px;
        }

        &--active {
          margin-bottom: 97px;
        }
      }

      &__btn {
        background-color: #776b79;
        font-family: ﻿ ﻿montserrat, sans-serif;
        font-size: 11pt;
        color: rgba(255, 255, 255, 255);
        text-align: center;
        text-transform: uppercase;
        width: 160px;
        height: 42px;
        line-height: 42px;
        border-radius: 20px;

        &--active {
          width: 190px;
          height: 52px;
          font-size: 15.5px;
          line-height: 54px;
          letter-spacing: 0.1px;
          border-radius: 27px;
        }

        &--hovered {

        }
        &:hover {
          cursor: pointer;
          background-color: #d0cbd0;
        }
      }
    }
  }
}



