.information {
  text-align: center;
  background: #f4f4f4;
  height: auto;

.information-grid {

  overflow: hidden;
  &__item-first {
    @media screen and (min-width: 993px) {
      padding-top: 100px;
      grid-area: sd;

    }
  }
  &__item-second {
    @media screen and (min-width: 993px) {
      grid-area: qq;

    }
  }
  &__item-third {
    @media screen and (min-width: 993px) {
      grid-area: ww;

    }
  }
  &__item-four {
    @media screen and (min-width: 993px) {
      grid-area: ee;

    }
  }
  @media screen and (min-width: 993px) {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "sd sd sd hd hd hd"
    "sd sd sd main main main"
    "qq qq qq main main main "
    "ww ww ww main main main"
    "ee ee ee main main main";
  }

  &__title {
    font-size: 37px;
    color: #8d81ac;
    padding: 29px 46px 34px 46px;
    @media screen and (min-width: 481px) {
      font-size: 43px;
      padding-top: 54px;
      padding-bottom: 60px;
    }
    @media screen and (min-width: 993px) {
      grid-area: hd;
      padding-top: 84px;

    }
    }

  .information-block {
    @media screen and (min-width: 481px) {
      display: flex;
      padding-left: 30px;
      padding-right: 30px;
      justify-content: space-between;
      padding-bottom: 60px;

      &__img {

        width: 90px;
      }
    }
  }

  &__box {
    padding: 25px 24px 20px 24px;
    @media screen and (min-width: 481px) {
      padding: 0;
    }

  }


  .information-box {
    @media screen and (min-width: 481px) {
      width: 76%;
      padding-left: 20px;
    }

    &__title {
      font-size: 18px;
      color: rgba(50, 50, 50, 255);
      @media screen and (min-width: 481px) {
        text-align: left;
      }

    }

    &__text {
      font-size: 16px;
      color: rgba(132, 142, 151, 255);
      padding-top: 12px;
      @media screen and (min-width: 481px) {
        text-align: left;
        padding-left: 0;
      }
    }
  }
  &__img {
    @media screen and (min-width: 993px) {
      grid-area: main;
    }
  }
}

}