.container {
  border: 1px red dashed; }
  .container .list {
    margin: 5px; }
    .container .list .item {
      padding: 10px;
      color: cadetblue; }
      .container .list .item.active {
        transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        -webkit-transform: rotate(30deg);
        background-color: #00CC44;
        color: red; }

.header .navigation {
  display: flex;
  border: #0056b3 1px dashed; }

@media screen and (min-width: 500px) and (max-width: 800px) {
  article {
    background-color: teal; } }
