@import 'variable';
@mixin  transform($property) {
  transform: $property;
  -ms-transform: $property;
  -webkit-transform: $property;
}
.container {
 border: $baseBorderStyle;
  .list {
    margin: 5px;
    .item {
      padding: $basePadding;
      color: $fontColor;
      &.active {
        @include transform(rotate(30deg));
        background-color: #00CC44;
        color: red;
      }
    }
  }
}

.header {
  .navigation {
    display: flex;
    border: #0056b3 1px dashed;
  }
}

//article { background-color: red; }
//@media screen and (min-width: 100px) and (max-width: 50em) {body {background-color: yellow}}
//@media (min-width: 300px)  {
//  article { background-color: green; }
//}
//
//@media (min-width: 500px) {
//  article { background-color: blue; }
//}
@media screen and (min-width: 500px) {
  @media screen and (max-width: 800px) {
    article { background-color: teal; }
  }
}
