html
{
    height: 100%;
    overflow: hidden;
}

body
{
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-y: scroll;
    overflow-x: hidden;
}

.header_wrapper
{

    /*box-sizing: border-box;*/
    transform-style: inherit;
    height: 404px;
    width: 100vm;
    text-align: center;

}
.header_wrapper::before
{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    transform-origin: center;
    min-height: 404px;
    background-image: url("../hw6/img/html_css_homework_homework6_img_header-bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateZ(-1px) scale(2);
}

 .header_wrapper div {
     padding-top: 50vh;
     color: white;
 }

