.slider-nav, .slider-single {
    cursor: pointer;
}
.row {
    margin-top: 50px;
}

.row img {
    border-radius: 50%;
}

.is-active img {


    border-radius: 50%;
    outline: none;

    border: 2px solid #18cfab;
    box-shadow: 0 0 0 10px rgba(17, 76, 75, 0.5);

}
.is-active div{
    outline: none;


}

.is-active img {
    margin-top: -20px;
    transition: 1000ms;
}


.slider {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {

    background-color: Transparent;
    background-repeat: no-repeat;
    border: 1px rgba(255, 255, 255, 0.8) solid;
    cursor: pointer;
    outline: none;
    color: #FFFFFF;
    font-weight: 400;
}

button:hover {
    background-color: #16a085;
}

.is-active-top img {
    margin-top: 20px;
    border-radius: 50%;

    border: 3px solid #18cfab;
    box-shadow: 0 0 0 10px rgba(17, 76, 75, 0.5);
    margin-bottom: 10px;

}

.is-active img:focus {
    outline: 0;
}

.slider-nav .draggable {
    width: 500px;
    display: flex;
    height: 200px;
    align-items: center;

}

/*.slider-nav .slick-center {margin-top: -40px;}*/
.box-slider-single {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.slider-nav .draggable {
    /*border: #c8422d 1px solid;*/

    /*background-color: #ffcc00;*/
}
.what-says {
    width: 1097px;
    height: 50px;
    color: rgba(187, 187, 187, 255);
    font-size: 16pt;
    text-align: center;
}
.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border: yellow 1px solid;*/
}

.slider-nav .slide-center img{
    border: 2px solid #18cfab;
    box-shadow: 0 0 0 10px rgba(17, 76, 75, 0.5);

}

.slider-single .slick-center {
    height: 200px;
}

.row .slider-nav img {
    transition: 1000ms;
    box-shadow: 0 0 0 10px rgba(17, 76, 75, 0.5);
}

.slick-slide {
    outline: 0; !important;
}

.box-slider-single > span {
    color: #18cfab;
    text-transform: uppercase;
    font-weight: 600;
}

.box-slider-single  span~span {
    color: #FFFFFF;
    text-transform: unset;
    font-weight: 300;
}