body {
    /*color: #fff;*/
    font-family: 'Montserrat', sans-serif;
    min-width: 1200px;

}

/*header */

.wrapper-first-section {
    color: #fff;
    position: relative;
    height: 1012px;
    background-image: url("../img/Sections background/section-1(header).jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.wrapper-first-section .wrapper-nav-menu {
    width: 100%;
    position: absolute;
    /*height: 120px;*/
    background: rgba(0, 0, 0, .6);
}

.wrapper-first-section .wrapper-nav-menu .content {
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 48px;
}

.logo-nav {
    display: flex;
}

.logo {
    width: 60px;
    height: 27px;
    background: #18cfab;
    position: relative;
    font-weight: 700;
}

.logo:before {
    content: "";
    position: absolute;
    top: -20px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 20px solid #18cfab;
}

.logo:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 20px solid #18cfab;
}

.h-letter {
    text-align: center;
    font-size: 40px;
    line-height: 27px;
}

.text-logo {
    padding-left: 7px;
    margin: 0;
    font-size: 25px;
    line-height: 29px;
    font-weight: 400;
}

.text-logo span {
    color: #18cfab;
}

.title-main span {
    color: #18cfab;
}

.menu {
    color: #b8b8b8;
    align-items: center;
    display: flex;
}

.menu-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 644px;
    margin: 0;
    padding: 0;

}

.menu-navigation li {
    list-style: none;

}

.menu-navigation li a {
    text-transform: uppercase;
    color: inherit;
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
    padding-top: 9px;
    padding-bottom: 45px;
    font-size: 13px;
    font-weight: 300;
}

.menu-navigation li a:hover {
    color: #18cfab;
    box-shadow: 0px 1px #18cfab;
    transition: all 400ms ease;
}

.search a {
    width: 60px;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background: #1a1d20;*/
    text-decoration: none;
    color: #b8b8b8;
    padding-bottom: 41px;

}

.search .fa-search:hover {
    color: #18cfab;
}

.title-main {
    max-width: 1160px;
    padding-top: 366px;
    margin: 0 auto;
    text-align: center;
}

h2 {
    text-transform: uppercase;
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 45px;
}

h1 {
    margin: 0;
    text-transform: uppercase;
    font-size: 70px;

}

.title-main-text {
    margin-top: 37px;
    margin-bottom: 140px;
    color: #b8b8b8;
    font-size: 30px;
    font-weight: 300;

}

.title-buttons {
    /*margin: 0 auto;*/
    display: flex;
    justify-content: center;

}

.button {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    box-sizing: border-box;
    width: 166px;
    height: 61px;
    border-radius: 5px;
    font-weight: 600;
    box-shadow: 0px -5px 0px 0px #fff;
    font-size: 13px;
}

.subscribe {
    margin-right: 20px;
    background: #18cfab;
}

.articles {
    background: #00cbf6;
}

/*sksksk*/
.wrapper-second-section {
    min-width: 1200px;
}

.wrapper-four-blocks {
    display: flex;
    margin: 0 auto;

}

.wrapper-four-blocks .blocks {
    width: 25%;
    height: 374px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #18cfab;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 18px;
    cursor: pointer;
}

.wrapper-four-blocks .fa-hand-point-up, .fa-gem, .fa-lightbulb, .fa-laptop {
    font-size: 60px;
}

.wrapper-four-blocks div:nth-child(odd) {
    background-color: #1c2a33;
    border-top: 7px #18cfab solid;
    color: #18cfab;

}

.wrapper-four-blocks div:nth-child(odd):hover {
    box-shadow: inset 0 0 0 12px #18cfab;
    border-top: 7px #1c2a33 solid;
    transition: all 1s ease;
}

.wrapper-four-blocks div:nth-child(even):hover {
    box-shadow: inset 0 0 0 12px #1c2a33;
    transition: all 1s ease;
}


.wrapper-four-blocks div:nth-child(odd):hover .fa-hand-point-up {
    font-size: 80px;
    transition: all 500ms ease;
}

.wrapper-four-blocks div:nth-child(odd):hover .fa-lightbulb {
    font-size: 100px;
    transition: all 250ms ease;
}

.wrapper-four-blocks div:nth-child(even):hover .fa-gem {
    font-size: 80px;
    transition: all 250ms ease;
}

.wrapper-four-blocks div:nth-child(even):hover .fa-laptop {
    font-size: 100px;
    transition: all 250ms ease;
}


.wrapper-four-blocks div:nth-child(even) {
    border-top: 7px #fff solid;
}

.our-services-wrapper {
    height: 218px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.our-services-wrapper h2 {
    font-weight: 400;
}

.our-services-wrapper span {
    font-size: 36px;
}

hr {
    width: 76px;
    border: none;
    height: 2px;
    color: #18cfab;
    background-color: #18cfab;
    box-shadow: 10px 5px #18cfab;
    border-radius: 2px;

}

.tabs-buttons-wrapper .tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #959697;
    padding: 0;
    margin: 0;


}

.tabs .tabs-title {
    width: 193px;
    height: 73px;
    border: 1px #eeeeef solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: none;

}

ul.tabs li:last-child {
    border-right: 1px #eeeeef solid;
}


.tabs li {
    list-style: none;
    cursor: pointer;

}

.tabs-title {
    background-color: #f8fcfe;
}

.tabs-title.active {
    position: relative;
    background: #18cfab;
    color: #FFFFFF;
    border-color: transparent;


}

.tabs-title.active:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;

}

.tabs-title.active:after {
    border-top-color: #18cfab;
    border-width: 10px;
    margin-left: -10px;
}

ul.tabs-content li {
    list-style: none;
    padding: 0;
}

.text-block {
    display: none;
    text-align: justify;
}

ul.tabs-content {
    padding: 0;
    margin: 0;
}

.active-js { /*fff*/
    display: block;
}

.tabs-buttons-wrapper {
    margin: 0 auto;
    max-width: 1160px;
}

img.img-block {
    float: left;
    margin-right: 20px;
}

.text-block p {
    line-height: 1.5;
}

.box-our-amazing-work-wrapper {
    min-height: 1212px;
    background-color: #f8fcfe;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-our-amazing-work-wrapper h2 {
    margin-top: 92px;
    font-weight: 400;
}

ul.tabs-second li {
    list-style: none;
}

.tabs-second {
    margin-top: 60px;
    display: flex;
}

.tabs-second .tabs-title-second {
    width: 193px;
    height: 73px;
    background-color: #FFFFFF;
}

.tabs-title-second {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #848484;
    cursor: pointer;
    border: 1px #eeeeef solid;
}

ul.tabs-second li {
    border-left: none;
}

ul.tabs-second li:first-child {
    border-left: 1px #eeeeef solid;
    width: 97px;
}

.tabs-title-second.active-second {
    color: #18cfab;
    border-top: #18cfab 2px solid;

}


/*section Just BY*/

.wrapper-purchase-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 476px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../img/Sections background/section-2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

.wrapper-purchase-block .content-purchase {
    max-width: 1160px;
    margin: 0 auto;;
    text-align: center;

}

.wrapper-purchase-block .content-purchase h2 {
    padding-top: 128px;
    color: #18cfab;
    font-size: 40px;
    margin-bottom: 35px;
}

.wrapper-purchase-block .content-purchase p {
    margin: 0;
    font-weight: 400;
    color: rgba(216, 216, 216, 255);
    padding-bottom: 76px;
}

.wrapper-purchase-block .button-purchase {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    box-sizing: border-box;
    width: 166px;
    height: 61px;
    border-radius: 5px;
    font-weight: 600;
    box-shadow: 0px -5px 0px 0px #fff;
    font-size: 13px;
    background: #18cfab;
}

.grid-container {
    min-width: 1134px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    align-content: center;
    justify-content: center;
    perspective: 1000px;


}

.grid-item {
    /*border-top: #18cfab 1px solid;*/
    display: grid;
    align-items: center;
    justify-items: center;


}

.grid-item span i {
    color: #FFFFFF;
    font-size: 60px;
    cursor: pointer;
}

.grid-item span i:hover {
    color: #18cfab;

}

.box-our-amazing-work-wrapper .grid-container .grid-item span {
    font-size: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 600;
}

.box-our-amazing-work-wrapper .grid-container .grid-item span:hover {

    color: #18cfab;

}


.service-search {
    display: none;
}


.grid-item.active {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 284px;
    height: 206px;
    background-color: #FFFFFF;


}

.service-search.active {
    display: grid;
}


.service-search {
    position: relative;
    overflow: hidden;
    /*transform: rotateY(-180deg);*/
}


.service-search div {

    bottom: -206px;
    position: absolute;
    margin: 0;
    display: block;
    width: 100%;

}

.service-search:hover div {
    background: rgba(1, 1, 1, .8);
    top: 0;
    border-top: 1px solid #18cfab;
    box-shadow: inset 0 0 0 8px #FFFFFF;
    /*transform: rotateY(180deg);*/
    /*transition: 600ms ease;*/
}

.loadbutton {
    margin-top: 100px;
    background: #18cfab;
}

.loadbutton::before {
    font-family: 'Font Awesome 5 Free';
    content: '\f067';
    padding-right: 10px;
}

.active {
    display: none;
}

/*section News*/

.wrapper-news {
    height: 960px;
    margin-bottom: 20px;

}

.wrapper-news .content-news {

    max-width: 1160px;
    margin: 0 auto;;
    text-align: center;
    height: 100%;
}

.wrapper-news .content-news h2 {
    color: rgba(78, 78, 78, 255);
    font-size: 36px;
    font-weight: 400;
    margin: 0;
    padding-top: 84px;
}


.content-news hr {
    margin-top: 40px;
    margin-bottom: 50px;
}

.wrapper-img {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    /*margin-top: 105px;*/
    height: 650px;
    align-content: space-between;

}

.wrapper-img .news-pict {

    position: relative;
    cursor: pointer;

}


.wrapper-img .news-pict .date-img {
    position: absolute;
    left: 195px;
    box-sizing: border-box;
    width: 68px;
    height: 66px;
    background: #203e38;
    /*z-index: 1;*/
}

.wrapper-img .news-pict:hover .date-img {
    box-shadow: inset 0 0 0 3px orangered;
    background: #18cfab;
    transition: 1000ms;
}


.wrapper-img .news-pict .date-img .calendar-date {
    margin: 0;
    padding-top: 12px;
}

.wrapper-img .news-pict .date-img .calendar {
    margin: 0;
    padding-top: 5px;
}

.text-under-img {

    text-align: left;
    padding-top: 14px;
    padding-left: 13px;
    /*box-sizing: border-box;*/
    height: 71px;
    background-color: #f8fcfe;
    /*position: relative;*/

}

.wrapper-img span {
    color: rgba(113, 113, 113, 255);
    font-weight: 700;
    font-size: 18px;


}

.news-pict:hover span {
    color: rgba(24, 207, 171, 255);
    transition: 1000ms;

}

.comments {
    padding-right: 10px;
    font-size: 14px;
    font-weight: 300;
    color: rgba(119, 119, 119, 255);
}


.wrapper-slider {
    margin-top: 130px;
    height: 870px;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('../img/Sections background/section-3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;


}

.wrapper-slider-content {
    max-width: 1160px;
    margin: 0 auto;;


}

.wrapper-slider-content h4 {
    font-size: 36px;
    color: #FFFFFF;
    text-align: center;
}

.fa-quote-left {
    color: #18cfab;
    font-size: 50px;
}

.wrapper-header-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper-header-slider hr {
    margin-bottom: 50px;
}

.wrapper-header-slider .fa-quote-left {
    margin-bottom: 50px;
}

.best-images {
    height: 218px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 36pt;

}

.best-images h2 {

    color: rgba(78, 78, 78, 255);
    text-align: center;
    font-weight: 400;

}

.footer {
    height: 108px;
    min-width: 1200px;
    background-color: #22353f;
    color: #9b9e9f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer span {
    color: #18cfab;
}