body {
    padding: 0;
    margin: 0;
    background: url("img2/bg.png") no-repeat;
    background-size: 100vmax;



}

.navcontainer {
    display: flex;
    height: 3em;
    width: 100%;
    align-items: center;
    background: rgba(1, 1, 1, .4);
    color: white;
    overflow: hidden;
    justify-content: space-around;

}

.navcontainer:hover {
    background: rgba(1, 1, 1, .7);
    transition: 2s;
}

.navcontainer .icons > div {
    float: left;
}

.navcontainer div {
    font-family: "Verdana", sans-serif;
}

.journey {

    font-size: 20pt;
    text-transform: uppercase;
    font-weight: 600;
    flex-grow: 1;
    padding-left: 81px;

}

.icons {

    width: 160px;
    font-size: 14pt;
    flex-grow: 0.05;
}

.welcome {
    border-left: 1px gray solid;
    font-size: 14pt;
    padding-left: 40px;
}

.log_in {

    color: #3cb878;
    font-size: 14pt;
    padding-left: 5px;
}

.or {

    font-size: 14pt;
    padding-left: 5px;
}

.sign_up {

    color: #3cb878;
    padding-right: 60px;
    padding-left: 5px;
    font-size: 14pt;
}

.journey:hover {
    color: #3cb878;

}

.log_in:hover {
    text-decoration: underline;
}

.sign_up:hover {
    text-decoration: underline;
}

.img-2ic-forum, .img-3ic-journey, .img-1ic-caledar {
    display: inline-block;
    background: url('sprite/sprite.png') no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
    margin-left: 28px
}

.img-2ic-forum {
    background-position: -1px -0px;
    width: 28px;
    height: 20px;
}

.img-3ic-journey {
    background-position: -1px -42px;
    width: 20px;
    height: 20px;
}

.img-1ic-caledar {
    background-position: -1px -84px;
    width: 19px;
    height: 19px;
}

.img-2ic-forum:hover {
    background: url("sprite/sprite.png");
    background-position: -1px -21px;
    width: 28px;
    height: 20px
}

.img-3ic-journey:hover {

    background: url("sprite/sprite.png");
    background-position: -1px -63px;
    width: 20px;
    height: 20px;
}

.img-1ic-caledar:hover {
    background: url("sprite/sprite.png");
    background-position: -1px -104px;
    width: 19px;
    height: 19px;
}

form {

    background-color: #ffffff;
    border-radius: 10px;
    width: 444px;
    height: 634px;

}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 56px;
    margin-bottom: 65px;

}

.wrapper_sign_log {
    display: flex;
    align-items: baseline;
    padding-top: 10px;

}

.wrapper_sign_log p:nth-child(2) {
    padding-left: 35px;
    font-family: "Verdana", sans-serif;
    font-size: 20pt;
}

.wrapper_sign_log p:nth-child(3) {

    color: #3cb878;
    font-family: "Verdana", sans-serif;
    font-size: 14pt;
    padding-left: 180px;
}

.wrapper_sign_log p:nth-child(3):hover {
    text-decoration: underline;

}

.green_square {

    padding-left: 0;
    width: 18px;
    height: 18px;
    background: #3cb878;
}

.buttom_facebook {
    display: flex;
    width: 158px;
    height: 46px;
    border: #305db8 1px solid;
    margin-left: 60px;
    border-radius: 5px;
    align-items: center;
    background-color: #305db8;
    justify-content: flex-start;
}

.buttom_google {
    display: flex;
    width: 158px;
    height: 46px;
    border: #df4a32 1px solid;
    margin-left: 8px;
    border-radius: 5px;
    align-items: center;
    justify-content: flex-start;
    background-color: #df4a32;
}

.buttons_wrapper {
    display: flex;
}


.inner_buttons {
    display: flex;
    padding-left: 20px;
    /*border: #3cb878 1px solid;*/
    font-family: "Verdana", sans-serif;
    font-size: 16px;
    color: white;
    align-items: center;

}

.google_img {
    padding-top: 4px;
    border-right: #c8422d 1px solid;
    padding-right: 8px;
}

.facebook_img {
    border-right: #2b54a5 1px solid;
    padding-right: 15px;
}

.facebook_logo {
    padding-left: 18px;
}

.google_logo {
    padding-left: 24px;
}

.left_line {
    width: 135px;
    height: 1px;
    border-bottom: #eaeaea 1px solid;
}

.right_line {
    width: 135px;
    height: 1px;
    border-bottom: #eaeaea 1px solid;
    margin-left: 40px;

}

.choice_or {
    width: 15px;
    height: 8px;
    padding-top: -30px;
    position: relative;
    bottom: 9px;
    left: 20px;
    color: rgba(132, 132, 132, 255);
    font-family: "Verdana", sans-serif;
    font-size: 14px;

}

.button_line {
    display: flex;
    justify-content: center;
    padding-top: 27px;
    padding-bottom: 10px;
}

.input_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input_wrapper input {
    width: 322px;
    height: 46px;
    margin: 5px;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    outline: none;
    padding-left: 10px;
}

.input_wrapper input:focus {

    box-shadow: 1px 1px 10px 1px #e7e7e7;

}

.check_box input {
    display: none;
}

.check_box span {
    height: 16px;
    width: 16px;
    border: 1px solid #eaeaea;
    display: inline-block;
    position: relative;
    background-color: #FFF;
    border-radius: 3px;
    padding: 3px;
}

[type=checkbox]:checked + span:before {
    content: url("img2/checkbox@1X.png");
    position: absolute;
    top: -3px;
    left: 5px;
    font-size: 23px;
    color: green;
}

.check_box label {
    display: flex;
    margin-left: 55px;
    margin-top: 18px;

}

.agree_check {
    display: flex;
    padding-left: 10px;
    font-family: "Verdana", sans-serif;
    font-size: 14px;
    padding-top: 3px;

}

.agree_check div {
    color: #3cb878;
    padding-left: 5px;
}

.foot_bottom {
    width: 330px;
    height: 46px;
    border: #3cb878 1px solid;
    border-radius: 5px;
    background-color: #3cb878;
    color: white;
    font-family: "Verdana", sans-serif;
    font-size: 16px;
    text-align: center;
    margin-top: 28px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.foot_bottom_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

}

a {
    text-decoration: none;
}

.wrapper_sign_log p > a {
    color: #3cb878;
}
.theme {
    padding: 0;
    margin: 0;
    background: url("img2/bg2.png") no-repeat;
    background-size: 100vmax;
    color: #c8422d;

}

